[2021-03-25 14:30] SathyaJayabal opened #2 "Initial Launch Requirements"
Scope: Challenge Listings Page.

Design:
https://marvelapp.com/prototype/g0i7agh/screen/76792751

Note: My Challenges, Gigs and Recommender Tool are out of scope

Challenge 1 : https://www.topcoder.com/challenges/ff551ab2-95cb-4acd-9343-4d490ea4bb5e

[2021-04-02 12:18] SathyaJayabal opened #4 "Accessing the Earn App using URL gives an error"
https://platform.topcoder-dev.com/earn/find/challenges
or
https://platform.topcoder-dev.com/earn/

<img width="1440" alt="Screenshot 2021-04-02 at 5 46 09 PM" src="https://user-images.githubusercontent.com/58783823/113414743-55b55480-93db-11eb-8ad7-761ca781a495.png">

[2021-04-02 12:27] SathyaJayabal opened #5 "Sub Community filter is missing"
Sub Community filter is missing
<img width="1440" alt="Screenshot 2021-04-02 at 5 54 38 PM" src="https://user-images.githubusercontent.com/58783823/113415364-aaa59a80-93dc-11eb-862a-c0ca6eabc130.png">
<img width="1440" alt="Screenshot 2021-04-02 at 5 55 59 PM" src="https://user-images.githubusercontent.com/58783823/113415418-cc068680-93dc-11eb-8b27-404954b10601.png">

[2021-04-02 12:38] SathyaJayabal opened #6 "[$20] Open for registration count is missing"
Open for registration count is missing
<img width="1440" alt="Screenshot 2021-04-02 at 5 58 32 PM" src="https://user-images.githubusercontent.com/58783823/113415567-21429800-93dd-11eb-9c43-21cc7e1b455e.png">
<img width="1440" alt="Screenshot 2021-04-02 at 5 58 50 PM" src="https://user-images.githubusercontent.com/58783823/113415597-2b649680-93dd-11eb-923e-90698758d038.png">

[2021-04-02 12:48] SathyaJayabal opened #7 "[$40] UI issues"
1. "Past Challenges" should be "Closed Challenges" like in design.
2. "Quality Assurance" should be "QA" like in design.
3. Remove Sort by option “Best Match”
<img width="1440" alt="Screenshot 2021-04-02 at 6 14 44 PM" src="https://user-images.githubusercontent.com/58783823/113416785-a29b2a00-93df-11eb-8047-397e2854d9b3.png">

4. Remove “Recommended Challenges” toggle
5. Remove “Save Filter” butto

[2021-04-02 12:58] SathyaJayabal opened #8 "[$100] App breaks when accessed as not logged user at /earn"
App breaks when accessed as not logged user at /earn
<img width="1440" alt="Screenshot 2021-04-02 at 6 27 12 PM" src="https://user-images.githubusercontent.com/58783823/113417489-21449700-93e1-11eb-977d-df2004fd972d.png">

[2021-04-02 13:02] SathyaJayabal opened #9 "Remove other nav items that are out of scope for now"
We should have only Find Work > Challenges. Please remove all other nav items.
<img width="1440" alt="Screenshot 2021-04-02 at 6 30 50 PM" src="https://user-images.githubusercontent.com/58783823/113417707-ad56be80-93e1-11eb-91d2-d999a6836c20.png">

[2021-04-02 13:09] SathyaJayabal opened #10 "When Dropdown is closed, the arrow must change to down arrow"
When Dropdown is closed, the arrow must change to down arrow. Arrow changes to up arrow only when user clicks on the page.
example:
Sort By Drop Down
per page drop down

https://user-images.githubusercontent.com/58783823/113418228-b1cfa700-93e2-11eb-8d65-ce591abf4874.mov

[2021-04-02 13:19] SathyaJayabal opened #11 "Search bar and Sort DD alignment is incorrect in safari browser"
Search bar and Sort DD alignment is incorrect in safari browser
<img width="1440" alt="Screenshot 2021-04-02 at 6 40 36 PM" src="https://user-images.githubusercontent.com/58783823/113418400-0a06a900-93e3-11eb-9773-8f0f3a0896ce.png">

[2021-04-02 13:37] SathyaJayabal opened #12 ""Skills/Technology" filter issues"
1. "Skills/Technology" label is missing when focus is not in the input box, which is in design.

<img width="275" alt="Screenshot 2021-04-02 at 6 55 03 PM" src="https://user-images.githubusercontent.com/58783823/113419390-ff4d1380-93e4-11eb-9dec-79e3b61e9222.png">

2. Skills/Technology is filtered only after entering the second character. Is this intentional? @sushilshinde @luizrrodrigues
<img wid

[2021-04-02 13:42] SathyaJayabal opened #13 "The "X" which is in the design to clear the input is missing"
The "X" which is in the design to clear the input is missing
<img width="207" alt="Screenshot 2021-04-02 at 7 12 22 PM" src="https://user-images.githubusercontent.com/58783823/113420703-623faa00-93e7-11eb-9997-397feb3b8509.png">

[2021-04-02 13:46] SathyaJayabal opened #14 "Completed Challenges: Date range field is missing a label"
Completed Challenges: Date range field is missing a label

The design has label as "from" ? Is that fine or we can use the current label "Past Period"

<img width="1440" alt="Screenshot 2021-04-02 at 7 16 03 PM" src="https://user-images.githubusercontent.com/58783823/113420986-ea25b400-93e7-11eb-8b06-4b91d27e94b1.png">

[2021-04-02 13:50] SathyaJayabal opened #15 "App is not responsive"
App is not responsive
<img width="1117" alt="Screenshot 2021-04-02 at 7 19 24 PM" src="https://user-images.githubusercontent.com/58783823/113421280-720bbe00-93e8-11eb-8cdc-f02a5cd1aee5.png">

[2021-04-02 13:55] SathyaJayabal opened #16 "Drop down per page value not remembered in session storage"
Implement Challenges per page drop-down (Store page selection in sessionStorage for now, because there is no backend component to store that value)
Dropdown works but no sessionStorage. It has to "remember" the selected value and use it when user refreshes the page.

[2021-04-02 17:00] SathyaJayabal opened #17 "Feature request: Include winner information in completed contests"
It will be good to include winner information in the completed challenge list, like how we have in the community app.
cc @Oanh-and-only-Oanh
<img width="1440" alt="Screenshot 2021-04-02 at 10 28 09 PM" src="https://user-images.githubusercontent.com/58783823/113436689-cae85000-9402-11eb-9806-98d241d243d7.png">

<img width="1440" alt="Screenshot 2021-04-02 at 10 27 21 PM" src="https://user-images.gi

[2021-04-03 04:09] SathyaJayabal opened #18 "[$15] Sort by Title sort by Z-A instead of A-Z"
Sort by Title sort by Z-A instead of A-Z
<img width="1440" alt="Screenshot 2021-04-03 at 9 39 03 AM" src="https://user-images.githubusercontent.com/58783823/113467407-72e03680-9460-11eb-99cc-b72c28408c86.png">

[2021-04-03 06:35] SathyaJayabal opened #19 "Completed contests: end date is incorrect"
Completed contests: end date is incorrect
<img width="1440" alt="Screenshot 2021-04-03 at 12 03 49 PM" src="https://user-images.githubusercontent.com/58783823/113470650-dc6a4000-9474-11eb-8c44-5198c4d1728c.png">
<img width="1440" alt="Screenshot 2021-04-03 at 12 04 13 PM" src="https://user-images.githubusercontent.com/58783823/113470654-e2f8b780-9474-11eb-89a8-b4c079e019d1.png">

[2021-04-03 06:37] SathyaJayabal opened #20 "Feature request: Add sort options to completed contests"
Feature request: Add sort options to completed contests

[2021-04-03 07:00] SathyaJayabal opened #21 "Completed contests is not ordered by most recent"
Completed contests  is not ordered by most recent

A few of the challenges are not ordered by most recent. Please compare with current Comm app site
<img width="1440" alt="Screenshot 2021-04-03 at 12 28 46 PM" src="https://user-images.githubusercontent.com/58783823/113471177-49cba000-9478-11eb-8048-a7aa5a25cb85.png">
<img width="1440" alt="Screenshot 2021-04-03 at 12 28 58 PM" src="https://user-im

[2021-04-03 07:05] SathyaJayabal opened #22 "Icon for Challenge type is incorrect"
Icon for Challenge type is incorrect - it must have the trophy image
<img width="385" alt="Screenshot 2021-04-03 at 12 33 59 PM" src="https://user-images.githubusercontent.com/58783823/113471290-150c1880-9479-11eb-8a27-e186698bc1e4.png">
<img width="557" alt="Screenshot 2021-04-03 at 12 34 16 PM" src="https://user-images.githubusercontent.com/58783823/113471291-16d5dc00-9479-11eb-99b9-42c8c02ec00e

[2021-04-03 07:31] SathyaJayabal opened #23 "Changing the per page to a higher value when user is in later pages displays no results"
1. Go to Challenges page
2. Go to the last page
3. change the per page value to 20 or 50
Actual:  Challenge page is displayed with no results
Expected: The current page must be the first page and the challenges must be displayed.

https://user-images.githubusercontent.com/58783823/113471817-9d3fed00-947c-11eb-8c37-8737aa878486.mov

[2021-04-03 07:32] SathyaJayabal commented on #9
Also please make the Challenges page as the default page when accessing the earn app
https://platform.topcoder-dev.com/earn

[2021-04-03 13:12] SathyaJayabal opened #24 "[$60] All active challenges bucket- incorrect number fo challenges displayed"
All active challenges bucket- incorrect number fo challenges displayed. Only 35 challenges are displayed in DEV, whereas in the community app listings page there are more than 100. See example below for search results for "Submission Processor" where 12 results are shown in CA and only 2 results in the earn app.
<img width="1440" alt="Screenshot 2021-04-03 at 6 40 57 PM" src="https://user-images.g

[2021-04-05 02:56] Oanh-and-only-Oanh commented on #17
We won't be able to make those design changes in time for the release but we'll have them for next version.

[2021-04-05 03:00] Oanh-and-only-Oanh commented on #20
We have to hold for future version.

[2021-04-05 03:45] luizrrodrigues commented on #15
@Oanh-and-only-Oanh we have any design to ref. here?

[2021-04-05 10:52] luizrrodrigues commented on #24
@bug-bash-helper help

[2021-04-05 11:20] yoution commented on #24
@bug-bash-helper assign me

[2021-04-05 11:21] LieutenantRoger commented on #8
@luizrrodrigues  How to assign this to myself ? Thanks

[2021-04-05 11:22] yoution commented on #24
@luizrrodrigues please assign to me

[2021-04-05 11:23] CDharmateja commented on #4
@luizrrodrigues  I am interested in working on this. Can you assign me this issue?

[2021-04-05 11:25] LieutenantRoger commented on #8
Hi @luizrrodrigues  please assign me as I don't have permission, thanks.

[2021-04-05 11:34] Vips19 commented on #7
@luizrrodrigues please assign this issue to me

[2021-04-05 12:13] CDharmateja commented on #4
@luizrrodrigues Accessing either of the urls isn't giving me any error.

[2021-04-05 12:19] SathyaJayabal commented on #4
@luizrrodrigues , I too dont see the error today.

[2021-04-05 12:28] yoution commented on #24
@luizrrodrigues
can you help how to run the old challenge list?
![image](https://user-images.githubusercontent.com/3863914/113573804-6ff66900-964d-11eb-8725-27470c966eeb.png)
![image](https://user-images.githubusercontent.com/3863914/113573841-7e448500-964d-11eb-902e-9031fd23e0f2.png)

[2021-04-05 13:20] yoution commented on #24
@luizrrodrigues  please review

[2021-04-05 13:21] yoution commented on #24
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/27 is ready for review

[2021-04-05 13:22] yoution commented on #19
@luizrrodrigues please assign to me

[2021-04-05 13:58] yoution commented on #18
@luizrrodrigues please assign to me

[2021-04-05 14:06] yoution commented on #18
@luizrrodrigues please review https://github.com/topcoder-platform/micro-frontends-earn-app/pull/29

[2021-04-05 15:01] LieutenantRoger commented on #8
I'm releasing this ticket.  @luizrrodrigues

[2021-04-06 03:41] yoution commented on #8
@luizrrodrigues  @Oanh-and-only-Oanh  please assign to me

[2021-04-06 05:26] yoution commented on #8
@LieutenantRoger please review https://github.com/topcoder-platform/micro-frontends-earn-app/pull/30

[2021-04-06 09:08] praveeno commented on #7
please assign this to me @luizrrodrigues

[2021-04-06 10:10] Gauravseta commented on #19
@luizrrodrigues pls assign this to me

[2021-04-06 10:42] dedywahyudi commented on #17
@Oanh-and-only-Oanh @SathyaJayabal

fyi: Design for the completed challenge are ready:
https://marvelapp.com/prototype/g0i7agh/screen/76955813
https://marvelapp.com/prototype/g0i7agh/screen/78258509

[2021-04-06 10:59] praveeno commented on #7
@luizrrodrigues please review #31

[2021-04-06 12:21] sushilshinde opened #34 "Prod config not picking up"
Build is taking up only default config

and prod
https://github.com/topcoder-platform/micro-frontends-earn-app/blob/c07b138b700c312c65e52889b2cad2ed62c1bc38/config/production.js

[2021-04-06 12:37] luizrrodrigues commented on #4
Checking.

[2021-04-06 12:45] luizrrodrigues commented on #18
@bug-bash-helper help

[2021-04-06 15:41] Oanh-and-only-Oanh commented on #15
Here is the design where he can look at the padding and spacing for mobile  https://drive.google.com/drive/folders/1iKszGNNedHtFAaXxiO9NDGgaqc-Rg31S?usp=sharing
As for the GUI KIT, please tell him to check font sizes and how they translate into mobile  https://marvelapp.com/prototype/4f8i35i/screen/71425673 and this page too https://marvelapp.com/prototype/4f8i35i/screen/65752716 . Also, not sure

[2021-04-07 11:29] SathyaJayabal opened #38 "Groups api call is failing when loading the listings page for logged in users"
Groups api call is failing when loading the listings page for logged in users
<img width="1440" alt="Screenshot 2021-04-07 at 4 58 43 PM" src="https://user-images.githubusercontent.com/58783823/113859523-a0abdf00-97c2-11eb-8c07-e2ea56c2e38d.png">

[2021-04-07 11:31] SathyaJayabal commented on #34
This is working now
<img width="1440" alt="Screenshot 2021-04-07 at 5 00 54 PM" src="https://user-images.githubusercontent.com/58783823/113859713-d94bb880-97c2-11eb-86f4-ae58a9da3a8f.png">

[2021-04-08 02:19] Oanh-and-only-Oanh opened #42 "[$100] search reset"
**Describe issue:**
There's no clear way to clear your search after getting an "error" message. See below
![image](https://user-images.githubusercontent.com/47536078/113958211-8a5b4e80-97d5-11eb-8669-ca51e36a366b.png)
**How to reproduce:**
1) search Jave in search bar
2) see error message
3) no way to reset search

**Expected behavior:**
1) the search bar show still be visible with the error messa

[2021-04-08 02:25] luizrrodrigues commented on #42
Challenge https://www.topcoder.com/challenges/03a86202-812b-48da-a6ad-b35a5310010a has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 03:39] praveeno commented on #42
please assign me this task

[2021-04-08 03:47] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 03:49] Oanh-and-only-Oanh commented on #42
@praveeno please sign-up with Topcoder X tool

[2021-04-08 04:09] praveeno commented on #42
@luizrrodrigues  @Oanh-and-only-Oanh
how can i sign up, what is url for topcoder x tool

[2021-04-08 05:50] praveeno commented on #42
PR raised for this ticket #42
PR link
https://github.com/topcoder-platform/micro-frontends-earn-app/pull/43

[2021-04-08 06:06] sandhiyakavi opened #44 "Clicking Submissions icon opens submissions tab which is not visible without logging in"
Description:
Clicking Submissions icon of a  listed challenge opens submissions tab in Challenge details page which is not visible without logging in.

Actual result:
No tab is selected in Challenge Details page.

Expected result:
Details tab of challenge details page should be displayed if not logged in.

![image](https://user-images.githubusercontent.com/55895538/113976220-baf5c380-987b-11eb-9f7

[2021-04-08 06:07] sushilshinde commented on #15
@Oanh-and-only-Oanh @luizrrodrigues this can be f2f

[2021-04-08 06:11] sandhiyakavi opened #46 "[$80] URL for the Challenge details page is different"
Description:

The URL for the challenge details page is displayed as https://community-app.topcoder.com/challenges/63c469fd-805b-40f1-a08a-c85c5a13576e while the URL for current Challenge details page is https://www.topcoder.com/challenges/63c469fd-805b-40f1-a08a-c85c5a13576e

![image](https://user-images.githubusercontent.com/55895538/113976799-89c9c300-987c-11eb-8c7c-a2f1dd4846d5.png)

Current C

[2021-04-08 06:48] luizrrodrigues commented on #42
@praveeno use command:
`@bug-bash-helper help`

[2021-04-08 06:59] sandhiyakavi commented on #44
The same issue happens for logged in user where the submission count is 0 for a challenge

[2021-04-08 07:14] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 07:15] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 09:37] praveeno commented on #42
@bug-bash-helper assign me

[2021-04-08 09:45] praveeno commented on #22
can you please assign this to me or add open for pick up, so I can assign to me using bug-bash-helper, topcoder x tool
Thanks

[2021-04-08 09:47] praveeno commented on #13
"x" , mean clear button with x icon?
is this open to pick?

[2021-04-08 12:56] luizrrodrigues commented on #22
Challenge https://www.topcoder.com/challenges/e647cd10-9f16-4ddd-9b21-4d569f56c806 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 12:56] luizrrodrigues commented on #22
@praveeno done

[2021-04-08 13:02] rashmi73 commented on #22
@bug-bash-helper assign me

[2021-04-08 16:40] luizrrodrigues commented on #46
Challenge https://www.topcoder.com/challenges/f5df2ba7-7730-4a79-9097-e1900c352ce9 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 16:41] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 16:44] luizrrodrigues commented on #42
@praveeno your TC account is linked with GitHub?

[2021-04-08 16:47] luizrrodrigues commented on #42
@bug-bash-helper assign me

[2021-04-08 16:51] luizrrodrigues commented on #42
@bug-bash-helper assign me

[2021-04-08 16:51] luizrrodrigues commented on #42
Challenge https://www.topcoder.com/challenges/03a86202-812b-48da-a6ad-b35a5310010a has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 16:52] luizrrodrigues commented on #42
@bug-bash-helper unassign me

[2021-04-08 16:52] luizrrodrigues commented on #42
Challenge https://www.topcoder.com/challenges/03a86202-812b-48da-a6ad-b35a5310010a luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 16:54] luizrrodrigues commented on #42
@praveeno helper working now, please check if your TC account is linked with Github here: https://www.topcoder.com/settings/account#linked-accounts

[2021-04-08 16:55] luizrrodrigues commented on #15
Challenge https://www.topcoder.com/challenges/aa61ae59-31cc-4167-98e0-e40662fd381b has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 17:03] rashmi73 commented on #22
@bug-bash-helper assign me

[2021-04-08 17:03] luizrrodrigues commented on #22
Challenge https://www.topcoder.com/challenges/e647cd10-9f16-4ddd-9b21-4d569f56c806 has been assigned to rashmi73.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 17:15] praveeno commented on #42
@bug-bash-helper assign me

[2021-04-08 17:15] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 17:15] praveeno commented on #42
@bug-bash-helper assign me

[2021-04-08 17:16] praveeno commented on #42
@bug-bash-helper assign me

[2021-04-08 17:23] praveeno commented on #42
@bug-bash-helper assign me

[2021-04-08 17:23] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 17:26] Oanh-and-only-Oanh opened #47 "[$80] Issue with clicking directly on skill tag"
**Describe bug:**
when user clicks on skill tag of a challenge, the skills filter remains empty on lefthand side

**How to reproduce issue:**
1. go to https://platform.topcoder.com/earn/find/challenges
2. click on "java" skill tag on a challenge in the listings page
3. see that skills filter remains empty on lefthand side

**Expected behavior**
1. when user click on a skill tag on the challenge li

[2021-04-08 17:34] Oanh-and-only-Oanh opened #48 "[$80] URLs are not updating based on filtering settings"
****Describe issue:**
The URL is not updating when search/filtering perimeters are set

**How to reproduce:**
1. enter any search word in search bar
2. URL does not change

1. select "closed challenges" on fliter
2. URL does not change

**Expected behavior:****
The URL should change based on sorting/filtering/searching perimeters

[2021-04-09 04:23] praveeno commented on #42
@bug-bash-helper assign me

[2021-04-09 04:51] praveeno commented on #46
I believe this url https://community-app.topcoder.com/, is coming from process env
parhaps we need to update deployment script or api.env file

as url is coming from env
![image](https://user-images.githubusercontent.com/19618730/114129816-f399a980-991c-11eb-8893-e4273f638f63.png)
there is a reference of URL in code, but that contain totally different url value
![image](https://user-images.githubu

[2021-04-09 05:05] luizrrodrigues commented on #46
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-09 11:23] dedywahyudi commented on #15
@Oanh-and-only-Oanh @sushilshinde @luizrrodrigues @SathyaJayabal

Responsive on Mobile version ready: https://marvelapp.com/project/5583130/share
We still need more time to create the Tablet version.

But let me know for any feedback.

Thank you

[2021-04-09 16:47] rashmi73 commented on #22
@luizrrodrigues  Kindly update

[2021-04-10 10:52] praveeno commented on #47
Hello @luizrrodrigues please assign this to me

[2021-04-10 10:59] luizrrodrigues commented on #47
This not open for pickup.

[2021-04-10 11:02] praveeno commented on #47
@bug-bash-helper assign me

[2021-04-10 11:03] praveeno commented on #47
PR is raised for this issue https://github.com/topcoder-platform/micro-frontends-earn-app/pull/49
please review & provide feedback

[2021-04-10 11:05] luizrrodrigues commented on #47
Hey @praveeno this not open, we currently running part 2 challenge and this is in scope.

[2021-04-13 08:44] sandhiyakavi opened #51 "Completed Challenges: The beginning of the From date range is off by one day"
Description:

The beginning of the From date range is off by one day

![image](https://user-images.githubusercontent.com/55895538/114524111-e57ebc80-9c7f-11eb-8bcd-824f62f76022.png)

Eg: Here today is Apr 12, so past week should be Apr 5 to Apr 12, not Apr 4 to Apr 12.

[2021-04-13 09:08] SathyaJayabal commented on #34
@luizrrodrigues @sushilshinde , now dev has prod api calls
<img width="1440" alt="Screenshot 2021-04-13 at 2 37 44 PM" src="https://user-images.githubusercontent.com/58783823/114527617-d428b680-9c65-11eb-8b89-9dd8e330782a.png">

[2021-04-13 09:12] luizrrodrigues commented on #4
Challenge https://www.topcoder.com/challenges/a14548ef-07b4-4d13-8e7d-4f06c8ae873c has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-13 09:12] luizrrodrigues commented on #4
Challenge https://www.topcoder.com/challenges/a14548ef-07b4-4d13-8e7d-4f06c8ae873c has been assigned to cdharmateja.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-13 09:13] #4 closed

[2021-04-13 09:16] SathyaJayabal opened #52 "[$20] Track filter default value"
By default the QA track is switched off. All tracks must be on by default. This could be a misunderstanding as the design has the QA track as off.

All tracks must be on by default, Is this right  @Oanh-and-only-Oanh  ?

[2021-04-13 09:18] sandhiyakavi opened #53 "UI issues [Challenge Part 2]"
1. Overlay for time left has too much margin on right and bottom compared to design.
right:
![image](https://user-images.githubusercontent.com/55895538/114526247-c41ed000-9c81-11eb-85df-cb9d0f14dcc7.png)
Bottom:
![image](https://user-images.githubusercontent.com/55895538/114527128-938b6600-9c82-11eb-87db-587391b6d0fc.png)

2. The circles in the overlay for time left which aren't green should be gr

[2021-04-13 09:36] sandhiyakavi opened #54 "Not able to select dates before or after current selecting date range in calendar sometimes"
Description:

 Not able to select dates before or after current selecting date range in calendar sometimes

![image](https://user-images.githubusercontent.com/55895538/114531749-24644080-9c87-11eb-94eb-b64487b92091.png)

[2021-04-13 09:40] sandhiyakavi commented on #42
Similar issue observed for Date range filter.

If  a date range with no challenge matches entered , can't change the range to try another search because the date input field is removed.

![image](https://user-images.githubusercontent.com/55895538/114532311-ae140e00-9c87-11eb-9a28-f3b2396d91b1.png)

[2021-04-13 11:48] SathyaJayabal commented on #22
@luizrrodrigues , i think the trophy icon is associated with the TCO ?

[2021-04-13 12:25] SathyaJayabal commented on #6
@luizrrodrigues , this seems to be fixed in the second challenge
<img width="1440" alt="Screenshot 2021-04-13 at 5 54 47 PM" src="https://user-images.githubusercontent.com/58783823/114551697-612d3900-9c81-11eb-8fba-d036b4e4bf55.png">

[2021-04-13 12:35] SathyaJayabal commented on #51
I see the end date also off by one day
past week includes apr 14th when today is apr 13.
<img width="1440" alt="Screenshot 2021-04-13 at 6 03 27 PM" src="https://user-images.githubusercontent.com/58783823/114552855-a6059f80-9c82-11eb-9f8a-a1a0e35b6d9e.png">

[2021-04-14 05:14] sandhiyakavi opened #57 "Open for registration count varies compared to current challenge count"
Description:

Open for registration count varies compared to current challenge count

![image](https://user-images.githubusercontent.com/55895538/114657733-a5751380-9d2b-11eb-8f9a-9facba9d96c3.png)

![image](https://user-images.githubusercontent.com/55895538/114657775-b32a9900-9d2b-11eb-9519-5ca961c33a58.png)

[2021-04-14 05:43] sandhiyakavi opened #58 "Sort by Most recent and Prize Amount results vary"
Description:

Sort by Most recent and Prize Amount results vary. In case of Prize amount the challenge listing varies among challenges having the same prize amount.

Most recent:

<img width="959" alt="sorting_mostrecent_earnapp" src="https://user-images.githubusercontent.com/55895538/114660031-955f3300-9d2f-11eb-9e3c-7638cf366b6c.png">
<img width="960" alt="mostrecent_challenges" src="https://use

[2021-04-14 05:45] sandhiyakavi commented on #57
The two Data science challenges are not displayed in Earns app

![image](https://user-images.githubusercontent.com/55895538/114660323-14ed0200-9d30-11eb-9db1-7c60612f5c67.png)

[2021-04-14 06:00] SathyaJayabal commented on #58
@sandhiyakavi , the sort by prize amount should be fine as far as the sorting is correct. It need not not match with existing listings page.

[2021-04-14 06:35] dedywahyudi commented on #15
@Oanh-and-only-Oanh @SathyaJayabal

Please check the responsive version:
Desktop: https://marvelapp.com/prototype/g0i7agh/screen/76792725
Tablet: https://marvelapp.com/prototype/592h43f/screen/78456650
Mobile: https://marvelapp.com/prototype/g78bd0e/screen/78375131

[2021-04-14 07:18] sandhiyakavi commented on #14
The above issues are resolved now.

![image](https://user-images.githubusercontent.com/55895538/114669129-8632b200-9d3c-11eb-9efa-e92dde71bfd1.png)

![image](https://user-images.githubusercontent.com/55895538/114669382-c5f99980-9d3c-11eb-82c8-1fb8bf501831.png)
![image](https://user-images.githubusercontent.com/55895538/114669481-e7f31c00-9d3c-11eb-8338-40837edf3471.png)

Able to reset now
![image]

[2021-04-14 07:43] sandhiyakavi commented on #48
URLs are updating based on  the filter settings now

If filtered by track, Dev

https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&page=1&perPage=10&recommended=true&sortBy=bestMatch&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DEV&types[]=CH&types[]=F2F&types[]=TSK

If filtered by Challenge type: F2F

https://platform.topcoder.com/earn/find/challenges?bucket=Ope

[2021-04-14 07:45] sandhiyakavi commented on #47
@luizrrodrigues The skills are not yet displayed in the Skills/Technology filter. Its only displayed in the Search textbox

![image](https://user-images.githubusercontent.com/55895538/114673111-d0b62d80-9d40-11eb-85e3-4aa03117856c.png)

[2021-04-14 07:47] sandhiyakavi commented on #5
@luizrrodrigues The sub community filter is still missing

![image](https://user-images.githubusercontent.com/55895538/114673375-15da5f80-9d41-11eb-9a28-12d7a653b1be.png)

[2021-04-14 07:51] sandhiyakavi commented on #12
@luizrrodrigues Still Skill/Technology is filtered only after entering second character. is it expected?

![image](https://user-images.githubusercontent.com/55895538/114673608-53d78380-9d41-11eb-8bfc-1193eec5bca2.png)
![image](https://user-images.githubusercontent.com/55895538/114673636-5b972800-9d41-11eb-89b3-51d6e6f5cf4d.png)

The other issues mentioned above are resolved now.

![image](https://

[2021-04-14 08:06] sandhiyakavi opened #59 "Filtering by Prize amount issues"
Description:

1. If a prize amount 5000 is entered initially and a zero is removed from it, error is shown. Error disappears only when comma is removed from the amount (5,00 --> 500).
<img width="959" alt="invalidformat_error1" src="https://user-images.githubusercontent.com/55895538/114675554-53d88300-9d43-11eb-8e4c-92b7a3eed589.png">

2. The Error message is not removed even after using Clear Fil

[2021-04-14 08:18] sandhiyakavi opened #60 "[$80] Skills/Technology filter issues"
Description:
1. Skills/Technology filter only displays challenges that has all the skills chosen in it

![image](https://user-images.githubusercontent.com/55895538/114677112-f2b1af00-9d44-11eb-96d4-ccb71b305fa2.png)
![image](https://user-images.githubusercontent.com/55895538/114677174-04935200-9d45-11eb-95c8-0a34da579388.png)
![image](https://user-images.githubusercontent.com/55895538/114677247-14

[2021-04-14 08:44] sandhiyakavi opened #61 "Recommended challenges toggle should not be visible for not logged in user"
Description:

Recommended challenges toggle should not be visible for not logged in user

![image](https://user-images.githubusercontent.com/55895538/114681324-ff380680-9d48-11eb-9442-3acb60a09bd5.png)

[2021-04-14 09:12] sandhiyakavi commented on #61
Closing this as the recommended challenge is not in scope

[2021-04-14 09:12] #61 closed

[2021-04-14 09:24] sandhiyakavi opened #62 "Icon missing for QA Challenge type"
Description:
Icon missing for QA Challenge type

![image](https://user-images.githubusercontent.com/55895538/114687398-abc8b700-9d4e-11eb-94c8-9621b8e67486.png)

[2021-04-14 10:06] sandhiyakavi opened #63 "Overlay for time left is displayed incorrectly for some completed F2F challenges"
Description:
Overlay for time left is displayed incorrectly for some completed F2F challenges whose Registration date is future.
![image](https://user-images.githubusercontent.com/55895538/114693164-48da1e80-9d54-11eb-98da-e8e72fd7f3ee.png)
![image](https://user-images.githubusercontent.com/55895538/114693294-69a27400-9d54-11eb-92be-bd0f53268811.png)

[2021-04-14 10:41] SathyaJayabal commented on #60
FYI @luizrrodrigues
https://github.com/topcoder-platform/challenge-api/issues/403#issuecomment-807083502

[2021-04-14 10:46] SathyaJayabal commented on #62
This should be a purple icon
https://github.com/topcoder-platform/micro-frontends-earn-app/issues/55#issuecomment-819414391

[2021-04-14 10:49] SathyaJayabal commented on #22
@luizrrodrigues , at present the trophy is associated with the tco icon, But the trophy must be associated with type challenge.

You can see the below example where trophy is wrongly associated with a f2f

<img width="1416" alt="Screenshot 2021-04-14 at 4 13 46 PM" src="https://user-images.githubusercontent.com/58783823/114698666-fd684600-9d3c-11eb-9a4c-5dab413b788e.png">

Another example where tr

[2021-04-14 10:59] sandhiyakavi opened #64 "Intermittent issue: Challenges displayed incorrectly while filtering by Challenge type or track."
Description:

Sometimes Challenges are displayed incorrectly while filtering by Challenge type or track. It works after refresh

https://user-images.githubusercontent.com/55895538/114699853-c9504d80-9d5b-11eb-88a6-be22d78224d8.mp4

<img width="960" alt="wrong_display" src="https://user-images.githubusercontent.com/55895538/114699879-cf462e80-9d5b-11eb-99c0-5b34e391bce4.png">

[2021-04-20 08:43] luizrrodrigues commented on #7
Challenge https://www.topcoder.com/challenges/0a0a65ab-61c6-4447-aa30-04adba5b44f7 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:43] luizrrodrigues commented on #7
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:44] luizrrodrigues commented on #7
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:44] luizrrodrigues commented on #7
Challenge https://www.topcoder.com/challenges/0a0a65ab-61c6-4447-aa30-04adba5b44f7 luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:44] luizrrodrigues commented on #7
luizrrodrigues has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:44] luizrrodrigues commented on #7
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:45] luizrrodrigues commented on #7
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:55] luizrrodrigues commented on #8
Challenge https://www.topcoder.com/challenges/05d103e2-8170-40a8-850b-e781f971205f has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:55] luizrrodrigues commented on #8
Challenge https://www.topcoder.com/challenges/05d103e2-8170-40a8-850b-e781f971205f has been assigned to yoution.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:57] luizrrodrigues commented on #18
Challenge https://www.topcoder.com/challenges/5a8d14ef-08af-4338-8433-d4116af74669 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:57] luizrrodrigues commented on #18
Challenge https://www.topcoder.com/challenges/5a8d14ef-08af-4338-8433-d4116af74669 has been assigned to yoution.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-20 08:59] luizrrodrigues commented on #48
@SathyaJayabal we good to close this one.

[2021-04-20 14:43] sushilshinde opened #66 "GAP analyis - Gigs listing"
UI - https://marvelapp.com/prototype/g0i7agh/screen/76955812

API - https://github.com/topcoder-platform/taas-apis/blob/dev/docs/swagger.yaml#L19

[2021-04-20 14:45] #48 closed

[2021-04-21 04:42] SathyaJayabal commented on #5
@luizrrodrigues @sushilshinde , filtering by multiple sub communities is not working (when an event and a group is selected).

Example url
https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&`events[]=tco21&groups[]=b7f7c0f8-8ee8-409e-9e5c-33404983b635`&page=1&perPage=10&recommended=false&sortBy=updated&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=DES&tracks[]=DEV

[2021-04-21 04:47] SathyaJayabal opened #67 "Filter by prize amount"
By default the prize amount is shown as 0 - 10000 USD.
<img width="222" alt="Screenshot 2021-04-21 at 10 15 42 AM" src="https://user-images.githubusercontent.com/58783823/115498111-90980300-a28a-11eb-9d8c-e494857f219b.png">

When we remove this value, there is a message that this value is required.
<img width="219" alt="Screenshot 2021-04-21 at 10 16 10 AM" src="https://user-images.githubuserconte

[2021-04-21 05:04] SathyaJayabal commented on #59
Additionally,
Filter by prize starts filtering as the user is typing the input. As soon as the user enters the first character the list is filtered and focus is lost from the input box. For example to enter 400, after entering 4, focus is lost and list is filtered, User has to click on input box again and then continue typing. Again focus is lost after entering 0 (input becomes 40) and list is fil

[2021-04-21 09:59] luizrrodrigues commented on #24
Challenge https://www.topcoder.com/challenges/bb9f6cab-0049-4a3c-9976-022ba346402b has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-21 09:59] luizrrodrigues commented on #24
Challenge https://www.topcoder.com/challenges/bb9f6cab-0049-4a3c-9976-022ba346402b has been assigned to yoution.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-21 10:06] Dara-K commented on #67
The prize fields should be mandatory and have default values too.

The min default value should be $0 and for the max maybe we can make it higher to include the Marathon Matches challenges too? Some MMs have really high prizes:
https://www.topcoder.com/challenges/07596fc0-961b-471b-aca9-0932501ef594  - total $21K
https://www.topcoder.com/challenges/116fc3d9-a4e0-4a93-8ef1-a075ae16ee88  - total $33

[2021-04-21 10:15] luizrrodrigues commented on #34
@SathyaJayabal This was fixed.

[2021-04-21 11:31] SathyaJayabal commented on #46
verified on dev
<img width="1440" alt="Screenshot 2021-04-21 at 5 00 24 PM" src="https://user-images.githubusercontent.com/58783823/115546820-1df74980-a2c3-11eb-8fab-fe27b30dc375.png">

[2021-04-21 11:32] sandhiyakavi commented on #7
@luizrrodrigues still the '+' sign near the 'To' amount USD is missing.

<img width="959" alt="ui_5" src="https://user-images.githubusercontent.com/55895538/115545991-789e9e80-a2df-11eb-9541-9fb981fea626.png">
<img width="230" alt="ui_5_agaun" src="https://user-images.githubusercontent.com/55895538/115546021-7e947f80-a2df-11eb-820c-5a4086c371c5.png">

Other issues are resolved,

<img width="960" a

[2021-04-21 11:33] SathyaJayabal commented on #34
Verified
Dev env loads dev challenges and prod env loads prod challenges
<img width="1440" alt="Screenshot 2021-04-21 at 5 02 08 PM" src="https://user-images.githubusercontent.com/58783823/115547043-6ca4e380-a2c3-11eb-835c-8c12e0adad79.png">
<img width="1440" alt="Screenshot 2021-04-21 at 5 02 11 PM" src="https://user-images.githubusercontent.com/58783823/115547074-762e4b80-a2c3-11eb-8c7d-8e15e3c4

[2021-04-21 11:37] sandhiyakavi commented on #8
Verified on Dev Env. Working as expected

![image](https://user-images.githubusercontent.com/55895538/115547446-3d04d400-a2e1-11eb-8b4c-7bc6a965a4e6.png)

[2021-04-21 11:38] SathyaJayabal commented on #7
@Dara-K , what does the + sign mean in the Prize amount filter? Does it mean 10,000 plus any amount above that?
cc  @Oanh-and-only-Oanh  @luizrrodrigues
<img width="260" alt="Screenshot 2021-04-21 at 5 08 15 PM" src="https://user-images.githubusercontent.com/58783823/115547714-35830200-a2c4-11eb-8725-2a595504a2fa.png">

[2021-04-21 11:48] sandhiyakavi commented on #18
Verified on Dev Env. Now sorting is in ascending order

![image](https://user-images.githubusercontent.com/55895538/115548766-cff23e00-a2e2-11eb-8015-4ea6640910ed.png)

[2021-04-21 12:05] SathyaJayabal commented on #24
verified on dev
<img width="1440" alt="Screenshot 2021-04-21 at 5 34 52 PM" src="https://user-images.githubusercontent.com/58783823/115550811-e939c100-a2c7-11eb-94ec-c82c02601fad.png">
<img width="1440" alt="Screenshot 2021-04-21 at 5 34 55 PM" src="https://user-images.githubusercontent.com/58783823/115550834-efc83880-a2c7-11eb-9469-5de592b8622a.png">

[2021-04-21 13:33] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-21 13:58] Dara-K commented on #7
TBH I don't think that plus should be there

[2021-04-21 14:01] SathyaJayabal commented on #7
thanks @Dara-K ,

Marking this as pass, as all the other issues are fixed and we don't need the plus sign.

[2021-04-21 15:24] SathyaJayabal opened #72 "Remove List/Grid view options"
Remove List/Grid view options, We only have the list view for this release.

[2021-04-22 03:22] sandhiyakavi commented on #46
Verified on Prod Env.

https://user-images.githubusercontent.com/55895538/115650986-45065780-a365-11eb-967a-ba12be88d3d7.mp4

[2021-04-22 03:26] sandhiyakavi commented on #6
Verified on Prod Env

![image](https://user-images.githubusercontent.com/55895538/115651286-d5dd3300-a365-11eb-8088-dba3a24f93c4.png)

[2021-04-22 03:33] sandhiyakavi commented on #18
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/115651793-d7f3c180-a366-11eb-8439-ace5bbe25cff.png)

[2021-04-22 03:36] sandhiyakavi commented on #8
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/115651987-4769b100-a367-11eb-82a2-90165bcf8d97.png)

[2021-04-22 03:42] sandhiyakavi commented on #34
Verified on Prod . Challenges are displayed correctly according to the Env

![image](https://user-images.githubusercontent.com/55895538/115652362-1342c000-a368-11eb-956c-b7146fcb41a5.png)
![image](https://user-images.githubusercontent.com/55895538/115652388-205faf00-a368-11eb-92e6-9acc53d3bb10.png)

[2021-04-22 03:56] luizrrodrigues commented on #46
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-22 03:56] #18 closed

[2021-04-22 03:56] #8 closed

[2021-04-22 03:56] luizrrodrigues commented on #18
Payment task has been updated: https://www.topcoder.com/challenges/5a8d14ef-08af-4338-8433-d4116af74669
*Payments Complete*
Winner: yoution
Copilot: luizrrodrigues
Challenge `5a8d14ef-08af-4338-8433-d4116af74669` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-22 03:57] luizrrodrigues commented on #8
Payment task has been updated: https://www.topcoder.com/challenges/05d103e2-8170-40a8-850b-e781f971205f
*Payments Complete*
Winner: yoution
Copilot: luizrrodrigues
Challenge `05d103e2-8170-40a8-850b-e781f971205f` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-22 05:04] sandhiyakavi commented on #24
verified on Prod Env. Count of All active challenges is displaying correctly

![image](https://user-images.githubusercontent.com/55895538/115658322-93225780-a373-11eb-8391-cf210d82085f.png)
![image](https://user-images.githubusercontent.com/55895538/115658338-9cabbf80-a373-11eb-87a7-0b133b486c04.png)

[2021-04-22 05:06] #24 closed

[2021-04-22 05:06] luizrrodrigues commented on #24
Payment task has been updated: https://www.topcoder.com/challenges/bb9f6cab-0049-4a3c-9976-022ba346402b
*Payments Complete*
Winner: yoution
Copilot: luizrrodrigues
Challenge `bb9f6cab-0049-4a3c-9976-022ba346402b` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-22 06:32] sandhiyakavi commented on #7
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/115666017-fe255b80-a37e-11eb-98bf-1382d9c2b0e0.png)

![image](https://user-images.githubusercontent.com/55895538/115666137-29a84600-a37f-11eb-866b-f1520b799e53.png)

![image](https://user-images.githubusercontent.com/55895538/115666253-4e9cb900-a37f-11eb-90ec-81812c12c6c6.png)

![image](https://user-images.githubuse

[2021-04-22 07:39] sandhiyakavi opened #73 "Prize amount tooltip is cropped if the number of prize amount is more"
Description:

1. If there are many prizes, the Prize amount tool tip displayed on hovering over the prize amount is getting cropped.
<img width="960" alt="prize amount cropped" src="https://user-images.githubusercontent.com/55895538/115674578-c3c0bc00-a388-11eb-9dc8-4a8887c344c4.png">

[2021-04-22 07:41] sandhiyakavi opened #74 "Floating point Prize amounts are displayed as integers in the Challenge listing."

[2021-04-22 08:23] sandhiyakavi opened #75 "[$80] sortBy=bestMatch and recommended=false is still displayed in URL"
Description:

Sorting by Best Match and recommender toggle are removed but its still displayed in the URLs.

Sample URLs:

https://platform.topcoder.com/earn/find/challenges?bucket=Open%20for%20Registration&endDateStart=2019-04-21T15:00:00.000Z&page=1&perPage=10&recommended=false&sortBy=bestMatch&startDateEnd=2021-04-23T14:59:59.999Z&totalPrizesFrom=0&totalPrizesTo=10000&tracks[]=QA&types[]=CH

ht

[2021-04-22 15:54] Oanh-and-only-Oanh opened #76 "[$80] Add "Give Feedback" features on EARN app"
**Add "Give Feedback" features EARN app similar to below:**

![image](https://user-images.githubusercontent.com/47536078/115744981-e2529300-a347-11eb-9436-4bac0eee0d29.png)

**Behavior:**
1. When user clicks on `Give Application Feedback`, take user to https://github.com/topcoder-platform/micro-frontends-earn-app/issues/new with github ticket template below:
![image](https://user-images.githubuser

[2021-04-22 16:15] Oanh-and-only-Oanh opened #77 "[$80] Welcome Banner"
1. When user arrives at the beta MFE site, they should see an expandable banner on the top of the page saying,
[code]

[2021-04-22 16:21] dedywahyudi commented on #76
@Oanh-and-only-Oanh

Can you point the url where current "Give Feedback" placed? I'm not see in current https://platform.topcoder-dev.com/?

[2021-04-22 16:32] Oanh-and-only-Oanh commented on #47
@luizrrodrigues, this is still an issue.
 The skills are not yet displayed in the Skills/Technology filter. Its only displayed in the Search textbox
![Uploading image.png…]()

[2021-04-22 16:33] Oanh-and-only-Oanh commented on #5
@SathyaJayabal, can you close this ticket?

[2021-04-22 16:34] Oanh-and-only-Oanh commented on #12
@luizrrodrigues, this is still an issue. FYI @SathyaJayabal

[2021-04-22 16:40] Oanh-and-only-Oanh opened #78 "Subcommunities should be all selected"
**Describe Bug:** "Open of Registration challenges" is selected but the subcommunitiies are all unselected. See below.

![image](https://user-images.githubusercontent.com/47536078/115751942-7de70200-a34e-11eb-99b1-2a66914f3a5b.png)

Expected behavior: All Subcommunities should be selected when " "Open of Registration challenges" is selected.

[2021-04-22 16:42] Oanh-and-only-Oanh opened #79 "[$80] Remove Gigs from side menu (framing app)"
Remove Gigs from framing app.
![image](https://user-images.githubusercontent.com/47536078/115752478-fc43a400-a34e-11eb-80c5-ba999061e634.png)

[2021-04-22 16:42] dedywahyudi commented on #77
We need use the same banner on top like in Challenge listing page?

[2021-04-22 16:43] #9 closed

[2021-04-22 16:45] Oanh-and-only-Oanh commented on #52
All tracks must be on by default.

[2021-04-22 16:48] Oanh-and-only-Oanh commented on #77
Yes, but make this one only show part of the message and user can click to expand the text box if you'd like.

What we don't want is a huge textbox that's intrusive and forces user to close the box every time.

[2021-04-22 18:02] SathyaJayabal commented on #57
@sandhiyakavi , can u reverify this issue please? This could be because of the prize amount filter default values.

[2021-04-22 18:04] SathyaJayabal commented on #5
@Oanh-and-only-Oanh , filtering by multiple sub communities is not working
https://github.com/topcoder-platform/micro-frontends-earn-app/issues/5#issuecomment-823771293

[2021-04-22 18:06] SathyaJayabal commented on #79
When accessing the Earn app, the challenge listings page must be open by default. At present the below page is displayed
<img width="1440" alt="Screenshot 2021-04-22 at 11 35 59 PM" src="https://user-images.githubusercontent.com/58783823/115764739-8d546280-a3c3-11eb-9f67-31bb6cdde50c.png">

[2021-04-22 18:12] Oanh-and-only-Oanh commented on #5
ok thanks. escalating this to P0.

[2021-04-23 03:03] sandhiyakavi commented on #57
Verified in Prod Env. The counts are correctly displaying now

<img width="960" alt="earnapp_openforreg" src="https://user-images.githubusercontent.com/55895538/115812179-eb1c9500-a42b-11eb-8de4-e4314389bdb8.png">
<img width="959" alt="community_openforreg" src="https://user-images.githubusercontent.com/55895538/115812187-eeb01c00-a42b-11eb-9933-4939d82f54c0.png">

[2021-04-23 03:07] #57 closed

[2021-04-23 15:23] luizrrodrigues commented on #79
Challenge https://www.topcoder.com/challenges/76462f8c-fae3-4c04-8e19-87fd458e7084 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 15:28] luizrrodrigues commented on #78
**important:** When all sub communities are selected, not need call endpoint with sub-communities filter.

[2021-04-23 15:28] luizrrodrigues commented on #78
Challenge https://www.topcoder.com/challenges/71d534a8-a6e3-4c18-944a-783516666e0e has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 15:30] luizrrodrigues commented on #77
@dedywahyudi @Oanh-and-only-Oanh We'll get a design to this one?

[2021-04-23 15:34] luizrrodrigues commented on #76
@Oanh-and-only-Oanh Is okay we add this to footer of side menu?
![image](https://user-images.githubusercontent.com/7029641/115894982-46e91d00-a430-11eb-8c55-beff1b400a3b.png)

[2021-04-23 15:36] luizrrodrigues commented on #75
Challenge https://www.topcoder.com/challenges/c9e77dd8-7d35-459d-942a-65f74533e088 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 15:38] luizrrodrigues commented on #60
Challenge https://www.topcoder.com/challenges/23df3510-4655-44fc-b04f-9bfe42e30785 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 15:44] Oanh-and-only-Oanh commented on #76
Yes

On Fri, Apr 23, 2021 at 8:35 AM Luiz Ricardo Rodrigues <
***@***.***> wrote:

[2021-04-23 15:45] Oanh-and-only-Oanh commented on #76
The "Give Feedback" is currently not on the EARN app but on Work Manager. https://challenges.topcoder.com/

[2021-04-23 15:59] luizrrodrigues commented on #52
Challenge https://www.topcoder.com/challenges/898f33d1-c26d-4cec-9044-e6be0790e25c has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 15:59] luizrrodrigues commented on #52
Challenge https://www.topcoder.com/challenges/898f33d1-c26d-4cec-9044-e6be0790e25c has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 16:00] luizrrodrigues commented on #52
**IMPORTANT;** If all tracks are selected, not need call endpoint with tracks filter.

[2021-04-23 16:00] luizrrodrigues commented on #52
Challenge https://www.topcoder.com/challenges/898f33d1-c26d-4cec-9044-e6be0790e25c luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 20:23] luizrrodrigues commented on #47
Challenge https://www.topcoder.com/challenges/ccfe45c7-6016-4b99-ba1a-b15086e2e00b has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 20:23] luizrrodrigues commented on #47
@praveeno please raise PR again, thanks.

[2021-04-23 21:55] dedywahyudi commented on #76
![06_1_Find-Work-Challenges](https://user-images.githubusercontent.com/4476442/115933554-48125c80-a4b9-11eb-950e-af2cdd55d5cb.png)

@Oanh-and-only-Oanh Please check current placement?

[2021-04-23 21:56] dedywahyudi commented on #77
@Oanh-and-only-Oanh Please check this

![06_1_Find-Work-Challenges-welcome beta](https://user-images.githubusercontent.com/4476442/115933589-5d878680-a4b9-11eb-91a1-9ab94f77d59c.png)

[2021-04-23 22:08] luizrrodrigues commented on #44
Challenge https://www.topcoder.com/challenges/9cd72346-13ee-475c-928e-ef4d51a9cf54 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 22:08] luizrrodrigues commented on #12
Challenge https://www.topcoder.com/challenges/fb5fdd33-15ce-4b42-9985-6e92e0dfdd4f has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-23 22:16] luizrrodrigues commented on #5
@Oanh-and-only-Oanh @SathyaJayabal

When selected a EVENT and a SUBCOMMUNITY, api will use `AND`, like:
if challenge is from group `TopGear` **AND** `TCO21`
or
if challenge is from event `TCO21` **AND** (from gropus `TopGear` **OR** `Veterans`)

So what we looking for here is?
if challenge is from group `TopGear` **OR** event `TCO21`

[2021-04-24 00:04] Oanh-and-only-Oanh commented on #76
It's too prominent. Can we move it lower on so it doesn't look like it part of the filters? Also, change to "Give Application Feedback".

[2021-04-24 00:06] Oanh-and-only-Oanh commented on #5
Correct, what we are looking for is **OR**. If challenge is from group Topgear OR event TCO21

[2021-04-24 02:39] praveeno commented on #47
PR is already raised https://github.com/topcoder-platform/micro-frontends-earn-app/pull/69, using my commit

[2021-04-24 12:47] dedywahyudi commented on #76
Ok, working on the updated design

[2021-04-24 12:49] dedywahyudi commented on #77
@Oanh-and-only-Oanh Updated modal windows

Desktop:
![06_0_C-Welcome banner on MFE-expand](https://user-images.githubusercontent.com/4476442/115959328-ecd27f80-a535-11eb-8357-bbc501ab15e9.png)
![06_0_B-Welcome banner on MFE](https://user-images.githubusercontent.com/4476442/115959335-f2c86080-a535-11eb-8aa3-3f849db6d86d.png)

Tablet:
![06_0_C-Welcome banner on MFE-expand (1)](https://user-images.g

[2021-04-25 06:53] dedywahyudi commented on #76
@Oanh-and-only-Oanh Please check this:

![06_0_B-Welcome banner on MFE (1)](https://user-images.githubusercontent.com/4476442/115983782-9153d080-a5cd-11eb-95d0-9a711ca00f02.png)

![06_0_B-Welcome banner on MFE](https://user-images.githubusercontent.com/4476442/115983788-9749b180-a5cd-11eb-8683-db6a92f3252d.png)

![06_0_D-Welcome banner on MFE-humberger menu](https://user-images.githubusercontent.c

[2021-04-26 14:26] Oanh-and-only-Oanh commented on #76
Can you show the expanded Welcome message banner as well?

[2021-04-26 22:06] Dara-K commented on #76
The banner looks good, would like to see what the expanded version looks like.

The navigation for mobile is wrong (we should follow up the conversation on Slack/ current task in project for that @Oanh-and-only-Oanh  @dedywahyudi )

[2021-04-26 22:17] Dara-K commented on #77
The text expanded version of the banner looks hard to read - due to light color of the text over the gradient background. We could try a darker gradient or a solid color, need to see which one is better.  @dedywahyudi

[2021-04-27 00:20] nursoltan-s commented on #52
@bug-bash-helper assign me

[2021-04-27 00:21] luizrrodrigues commented on #52
Challenge https://www.topcoder.com/challenges/898f33d1-c26d-4cec-9044-e6be0790e25c has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 00:56] nursoltan-s commented on #52
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/80 is ready for review

[2021-04-27 00:57] nursoltan-s commented on #79
@bug-bash-helper assign me

[2021-04-27 00:57] luizrrodrigues commented on #79
Challenge https://www.topcoder.com/challenges/76462f8c-fae3-4c04-8e19-87fd458e7084 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 01:06] nursoltan-s commented on #79
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/81 is ready for review

[2021-04-27 01:07] nursoltan-s commented on #78
@bug-bash-helper assign me

[2021-04-27 01:07] luizrrodrigues commented on #78
Challenge https://www.topcoder.com/challenges/71d534a8-a6e3-4c18-944a-783516666e0e has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 01:14] nursoltan-s commented on #78
@bug-bash-helper unassign me

[2021-04-27 01:14] luizrrodrigues commented on #78
Challenge https://www.topcoder.com/challenges/71d534a8-a6e3-4c18-944a-783516666e0e nursoltan-s has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 01:16] nursoltan-s commented on #44
@bug-bash-helper assign me

[2021-04-27 01:16] luizrrodrigues commented on #44
Challenge https://www.topcoder.com/challenges/9cd72346-13ee-475c-928e-ef4d51a9cf54 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 03:24] nursoltan-s commented on #44
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/82 is ready for review

[2021-04-27 03:31] nursoltan-s commented on #75
@bug-bash-helper assign me

[2021-04-27 03:31] luizrrodrigues commented on #75
Challenge https://www.topcoder.com/challenges/c9e77dd8-7d35-459d-942a-65f74533e088 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 03:39] nursoltan-s commented on #75
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/83
 is ready for review

[2021-04-27 03:39] nursoltan-s commented on #75
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/83 is ready for review

[2021-04-27 03:43] nursoltan-s commented on #60
@bug-bash-helper assign me

[2021-04-27 03:43] luizrrodrigues commented on #60
Challenge https://www.topcoder.com/challenges/23df3510-4655-44fc-b04f-9bfe42e30785 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 03:54] sanju-singh commented on #12
@bug-bash-helper assign me

[2021-04-27 03:54] luizrrodrigues commented on #12
Challenge https://www.topcoder.com/challenges/fb5fdd33-15ce-4b42-9985-6e92e0dfdd4f has been assigned to logicbreaker.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 04:32] ganganimaulik commented on #78
@bug-bash-helper assign me

[2021-04-27 04:32] luizrrodrigues commented on #78
@ganganimaulik, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 04:52] ganganimaulik commented on #78
![Capture](https://user-images.githubusercontent.com/10296400/116187056-6d65cb80-a742-11eb-90eb-5eae003f0516.PNG)

[2021-04-27 04:57] nursoltan-s commented on #15
@bug-bash-helper assign me

[2021-04-27 04:58] nursoltan-s commented on #60
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/84 is ready for review

[2021-04-27 04:58] nursoltan-s commented on #15
@bug-bash-helper assign me

[2021-04-27 04:58] luizrrodrigues commented on #15
Challenge https://www.topcoder.com/challenges/aa61ae59-31cc-4167-98e0-e40662fd381b has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 04:59] nursoltan-s commented on #15
@bug-bash-helper unassign me

[2021-04-27 04:59] luizrrodrigues commented on #15
Challenge https://www.topcoder.com/challenges/aa61ae59-31cc-4167-98e0-e40662fd381b nursoltan-s has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 06:05] lightmare commented on #12
The image with "p" typed in doesn't showcase a problem. All shown entries contain "p". Just like in the following image with "po" typed in, all shown entries contain "po".

[2021-04-27 06:37] sanju-singh commented on #12
all the issues mentioned above seems to be fixed. not able to reproduce.

[2021-04-27 07:04] narekcat commented on #15
@bug-bash-helper assign me

[2021-04-27 07:04] luizrrodrigues commented on #15
Challenge https://www.topcoder.com/challenges/aa61ae59-31cc-4167-98e0-e40662fd381b has been assigned to Narekvar90.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 08:43] sandhiyakavi commented on #12
Verified in Prod. All above mentioned issues are resolved.

[2021-04-27 13:28] narekcat commented on #15
@bug-bash-helper unassign me

[2021-04-27 13:28] luizrrodrigues commented on #15
Challenge https://www.topcoder.com/challenges/aa61ae59-31cc-4167-98e0-e40662fd381b Narekvar90 has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-27 17:09] codingdrone commented on #78
is it open?

[2021-04-27 17:26] luizrrodrigues commented on #78
@ganganimaulik hey. Are you working on this?

[2021-04-27 17:28] luizrrodrigues commented on #78
@codingdrone checking with @ganganimaulik, if he is not working on this, you can assign.

[2021-04-27 19:23] ganganimaulik commented on #78
no,

topcoder x tool is not working for me

[2021-04-28 05:15] nursoltan-s commented on #78
@bug-bash-helper assign me

[2021-04-28 10:44] lightmare commented on #78
Can this issue be reassigned?

I looked into it a bit and think the expected behaviour needs to be described in a lot more detail. And possibly the UI redesigned because this set of checkboxes doesn't convey what it actually does.

Right now, the UI actually does start in "no subcommunities excluded" state, even though the checkboxes are unchecked.

The subcommunities are divided into two sets: gr

[2021-04-29 21:06] luizrrodrigues commented on #15
https://www.topcoder.com/challenges/8c597273-db0d-4e0f-a76c-3f46b5546486

cc @nursoltan-s @narekcat $250 F2F ☝️

[2021-04-29 22:59] nursoltan-s commented on #15
@bug-bash-helper assign me

[2021-04-30 00:17] luizrrodrigues commented on #15
@nursoltan-s please register in challenge, this will be done via F2F

[2021-04-30 09:26] drasticdpk commented on #75
Verified  on Dev mode:

![image](https://user-images.githubusercontent.com/25297859/116676026-37d11480-a9c6-11eb-9f39-e8a9e41d2e0f.png)

Note :  @sandhiyakavi  please put a screen reference too while raising the bug so it will more easy to verifying by other QA.

[2021-04-30 10:14] SathyaJayabal commented on #52
Verified
<img width="1440" alt="Screenshot 2021-04-30 at 3 43 38 PM" src="https://user-images.githubusercontent.com/58783823/116681642-de1f1900-a9ca-11eb-8fc9-e69245f8bd0f.png">
<img width="1440" alt="Screenshot 2021-04-30 at 3 43 41 PM" src="https://user-images.githubusercontent.com/58783823/116681693-ec6d3500-a9ca-11eb-94aa-46c582b972b2.png">

[2021-04-30 10:22] SathyaJayabal commented on #44
verified.
logged in  user and submission count is > 0
<img width="1440" alt="Screenshot 2021-04-30 at 3 47 59 PM" src="https://user-images.githubusercontent.com/58783823/116682375-cbf1aa80-a9cb-11eb-9a2f-02603909cb4c.png">
Logged in user and submission count = 0
<img width="1440" alt="Screenshot 2021-04-30 at 3 48 55 PM" src="https://user-images.githubusercontent.com/58783823/116682413-d744d600-a9

[2021-04-30 10:24] drasticdpk commented on #60
1. Findings

Some skills/Technology is missing, please confirm.
![image](https://user-images.githubusercontent.com/25297859/116682646-399ed600-a9ce-11eb-98a9-973d42b33c7c.png)

[2021-04-30 10:31] luizrrodrigues commented on #60
@drasticdpk I thing this is issue with Dev env API, can you check in TopCoder-dev.com/challenges please?

[2021-04-30 11:17] drasticdpk commented on #60
@luizrrodrigues  also pagination also not working as expected

[2021-04-30 11:18] drasticdpk commented on #60
@luizrrodrigues  if this is data related issue we can make it pass for now.

[2021-04-30 11:45] luizrrodrigues commented on #60
@drasticdpk pagination was fixe

[2021-04-30 11:53] SathyaJayabal commented on #60
verified
<img width="1440" alt="Screenshot 2021-04-30 at 5 22 09 PM" src="https://user-images.githubusercontent.com/58783823/116691620-adde7700-a9d8-11eb-9f23-57528de976e3.png">

[2021-04-30 11:53] luizrrodrigues commented on #12
Challenge https://www.topcoder.com/challenges/fb5fdd33-15ce-4b42-9985-6e92e0dfdd4f logicbreaker has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 11:54] luizrrodrigues commented on #12
Challenge fb5fdd33-15ce-4b42-9985-6e92e0dfdd4f has been cancelled<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 11:57] luizrrodrigues commented on #77
Checking here, we have design final version?

@Dara-K @dedywahyudi @Oanh-and-only-Oanh

[2021-04-30 13:19] luizrrodrigues commented on #76
Challenge https://www.topcoder.com/challenges/5598a7c6-f162-41d8-876f-b94772b790f7 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 13:54] lightmare commented on #78
@bug-bash-helper assign me

[2021-04-30 13:54] luizrrodrigues commented on #78
@lightmare, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 14:51] luizrrodrigues commented on #78
@lightmare Use this one: https://x.topcoder.com/api/v1/github/teams/registration/abe6994e-a0a8-448a-920f-1d29639190ae-1617948254319

[2021-04-30 15:00] luizrrodrigues commented on #47
cc @SathyaJayabal @sandhiyakavi @drasticdpk Ready For QA on Dev

[2021-04-30 15:44] Oanh-and-only-Oanh commented on #77
@dedywahyudi can you share design and source for final version?

[2021-04-30 15:47] dedywahyudi commented on #77
[images.zip](https://github.com/topcoder-platform/micro-frontends-earn-app/files/6406484/images.zip)
[source.zip](https://github.com/topcoder-platform/micro-frontends-earn-app/files/6406487/source.zip)

@Oanh-and-only-Oanh

[2021-04-30 15:50] Oanh-and-only-Oanh commented on #5
@rootelement, can you help add this **`OR`** functionality to the api?

[2021-04-30 16:03] SathyaJayabal commented on #47
I dont see this yet @luizrrodrigues
<img width="1440" alt="Screenshot 2021-04-30 at 9 31 51 PM" src="https://user-images.githubusercontent.com/58783823/116722078-99f83c80-a9fb-11eb-9246-36b2f3ed537e.png">

[2021-04-30 16:07] SathyaJayabal commented on #47
@luizrrodrigues , you are right dev env was missing the google tag.
verified.
<img width="1440" alt="Screenshot 2021-04-30 at 9 35 33 PM" src="https://user-images.githubusercontent.com/58783823/116722600-3b7f8e00-a9fc-11eb-9596-fcb78ce8aa75.png">

[2021-04-30 16:17] luizrrodrigues commented on #77
Challenge https://www.topcoder.com/challenges/d3bc97e5-08ff-434e-8e34-7eea9969e91b has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 16:17] SathyaJayabal commented on #5
@Oanh-and-only-Oanh , just a thought. What do you think about having two different filters, One for Events and another for Sub communities? It sort fo makes sense, as the TCOs are not sub communities.

[2021-04-30 16:23] Oanh-and-only-Oanh commented on #5
Does that help by-pass the API issue?

On Fri, Apr 30, 2021 at 9:18 AM SathyaJayabal ***@***.***>
wrote:

[2021-04-30 16:24] SathyaJayabal commented on #5
@Oanh-and-only-Oanh , it will. But we will need  to update design.

[2021-04-30 16:39] Oanh-and-only-Oanh commented on #5
Ok, let me look into it.

On Fri, Apr 30, 2021 at 9:24 AM SathyaJayabal ***@***.***>
wrote:

[2021-04-30 16:46] SathyaJayabal commented on #5
@Oanh-and-only-Oanh , that part is already working. So you can select multiple sub communities like zurich, topgear etc. Its only when you select a subcommunity and an event, we have the issue. We can also select multiple events, that too already works.

[2021-04-30 16:52] SathyaJayabal commented on #79
verified on prod
<img width="1440" alt="Screenshot 2021-04-30 at 10 21 23 PM" src="https://user-images.githubusercontent.com/58783823/116727647-74bafc80-aa02-11eb-8596-2dbc68219e36.png">
<img width="1440" alt="Screenshot 2021-04-30 at 10 21 32 PM" src="https://user-images.githubusercontent.com/58783823/116727672-7dabce00-aa02-11eb-9418-b687cb893967.png">

[2021-04-30 16:53] luizrrodrigues commented on #79
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 16:55] luizrrodrigues commented on #75
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 16:55] nursoltan-s commented on #77
@bug-bash-helper assign me

[2021-04-30 16:56] luizrrodrigues commented on #79
Challenge https://www.topcoder.com/challenges/112289d1-1665-4cde-84e5-c9133a97b992 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 16:57] luizrrodrigues commented on #79
Payment task has been updated: https://www.topcoder.com/challenges/112289d1-1665-4cde-84e5-c9133a97b992
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `112289d1-1665-4cde-84e5-c9133a97b992` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 16:58] luizrrodrigues commented on #75
Challenge https://www.topcoder.com/challenges/83609b88-0d3d-435b-8933-2608bbe65076 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 16:58] #75 closed

[2021-04-30 16:59] luizrrodrigues commented on #75
Payment task has been updated: https://www.topcoder.com/challenges/83609b88-0d3d-435b-8933-2608bbe65076
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `83609b88-0d3d-435b-8933-2608bbe65076` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 17:00] SathyaJayabal commented on #47
verified on prod
<img width="1440" alt="Screenshot 2021-04-30 at 10 29 53 PM" src="https://user-images.githubusercontent.com/58783823/116728541-aa141a00-aa03-11eb-8090-e4d222f27e11.png">

[2021-04-30 17:02] #47 closed

[2021-04-30 17:02] luizrrodrigues commented on #47
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 17:06] luizrrodrigues commented on #5
Agree

[2021-04-30 17:07] SathyaJayabal commented on #44
Verified on prod
Logged in user, submission count > 0
<img width="1440" alt="Screenshot 2021-04-30 at 10 34 03 PM" src="https://user-images.githubusercontent.com/58783823/116729047-50601f80-aa04-11eb-8c88-23d20868847b.png">
logged in user, submission count=0
<img width="1440" alt="Screenshot 2021-04-30 at 10 34 19 PM" src="https://user-images.githubusercontent.com/58783823/116729075-5bb34b00-aa04-

[2021-04-30 17:08] luizrrodrigues commented on #44
Payment task has been updated: https://www.topcoder.com/challenges/9cd72346-13ee-475c-928e-ef4d51a9cf54
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `9cd72346-13ee-475c-928e-ef4d51a9cf54` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 17:08] luizrrodrigues commented on #77
@nursoltan-s Feel free to work on this, we're closing completed issues :)

[2021-04-30 17:12] SathyaJayabal commented on #52
verified on prod. By default all tracks are on
<img width="1440" alt="Screenshot 2021-04-30 at 10 39 31 PM" src="https://user-images.githubusercontent.com/58783823/116729626-01ff5080-aa05-11eb-8a0a-a34892bcff26.png">
<img width="1440" alt="Screenshot 2021-04-30 at 10 39 36 PM" src="https://user-images.githubusercontent.com/58783823/116729675-117e9980-aa05-11eb-9683-c394e9e67f62.png">

[2021-04-30 17:12] #52 closed

[2021-04-30 17:13] luizrrodrigues commented on #52
Payment task has been updated: https://www.topcoder.com/challenges/898f33d1-c26d-4cec-9044-e6be0790e25c
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `898f33d1-c26d-4cec-9044-e6be0790e25c` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 17:13] SathyaJayabal commented on #60
verified on prod
<img width="1440" alt="Screenshot 2021-04-30 at 10 41 33 PM" src="https://user-images.githubusercontent.com/58783823/116729947-7803b780-aa05-11eb-995a-247acdb6d54e.png">
<img width="1440" alt="Screenshot 2021-04-30 at 10 42 19 PM" src="https://user-images.githubusercontent.com/58783823/116729975-7f2ac580-aa05-11eb-87ae-87e9766d7498.png">
tcx_fix

[2021-04-30 17:13] #60 closed

[2021-04-30 17:14] luizrrodrigues commented on #60
Payment task has been updated: https://www.topcoder.com/challenges/23df3510-4655-44fc-b04f-9bfe42e30785
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `23df3510-4655-44fc-b04f-9bfe42e30785` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 17:25] nursoltan-s commented on #77
@bug-bash-helper assign me

[2021-04-30 17:25] luizrrodrigues commented on #77
Challenge https://www.topcoder.com/challenges/d3bc97e5-08ff-434e-8e34-7eea9969e91b has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 17:39] nursoltan-s commented on #77
@luizrrodrigues
1) How can we control content of the banner? Is it static text?
2) Is banner appear everytime user visits or only first time visits (localStorage) ?
3) In Sketch there is 2 types of banner. Should we implement both banner types?

[2021-04-30 17:58] luizrrodrigues commented on #77
1. Yes, make this static for now
2. Always visible
3. @dedywahyudi can you confirm which is the right one?

[2021-04-30 18:54] nursoltan-s commented on #77
@luizrrodrigues
Can we handle responsiveness after https://github.com/topcoder-platform/micro-frontends-earn-app/issues/15 issue resolved?

PR (WIP):
https://github.com/topcoder-platform/micro-frontends-earn-app/pull/87

[2021-04-30 19:04] luizrrodrigues commented on #77
@nursoltan-s Yep, we can resolve responsive after #15

[2021-04-30 19:07] nursoltan-s commented on #77
​@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/issues/15 is ready for review

[2021-04-30 19:08] nursoltan-s commented on #76
@bug-bash-helper assign me

[2021-04-30 19:08] luizrrodrigues commented on #76
Challenge https://www.topcoder.com/challenges/5598a7c6-f162-41d8-876f-b94772b790f7 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-30 19:13] luizrrodrigues commented on #77
@nursoltan-s about question 3. I just open souce file now, and just see one version of banner.

Maybe you ref. banner from community app, we'll track here:
https://github.com/topcoder-platform/community-app/issues/5490

[2021-05-01 00:30] lightmare commented on #78
@bug-bash-helper assign me

[2021-05-01 00:31] luizrrodrigues commented on #78
Challenge https://www.topcoder.com/challenges/71d534a8-a6e3-4c18-944a-783516666e0e has been assigned to lightmare.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-01 01:02] nursoltan-s commented on #77
@luizrrodrigues It turns out Different version i mentioned was about community app. Sorry

[2021-05-01 03:09] praveeno commented on #42
can you share what need to be done here,
I'll update code based on that

[2021-05-01 04:23] nursoltan-s commented on #76
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/88 is ready for review

[2021-05-01 07:27] lightmare commented on #78
@bug-bash-helper https://github.com/topcoder-platform/micro-frontends-earn-app/pull/89 is ready for review

[2021-05-03 07:41] sdgun opened #91 "Tool tips not available for Number of Registrants/submissions"
**Steps**
Go to https://platform.topcoder.com/earn
Hover over Number of Registrants/submissions icons

**Expected result**
When hovering over 'Number of Registrants' tool tip with 'Number of Registrants' should be displayed
When hovering over 'Number of submissions' tool tip with 'Number of submissions' should be displayed

![image](https://user-images.githubusercontent.com/4592712/116851828-c8029

[2021-05-03 09:11] luizrrodrigues commented on #78
@lightmare Your solution break other filters, check feedback in PR.

[2021-05-03 09:14] luizrrodrigues commented on #42
@praveeno Check your PR: https://github.com/topcoder-platform/micro-frontends-earn-app/pull/43
Need to fix conflicts coming from latest change in app.

[2021-05-03 09:18] luizrrodrigues commented on #77
@SathyaJayabal ready for review

[2021-05-03 09:18] luizrrodrigues commented on #76
@SathyaJayabal ready for review

[2021-05-03 09:26] SathyaJayabal opened #92 "Add EARN APP to the navigation in prod"
Add ERAn APP to the navigation in prod

[2021-05-03 09:37] SathyaJayabal commented on #77
Verified on dev
<img width="1440" alt="Screenshot 2021-05-03 at 2 58 57 PM" src="https://user-images.githubusercontent.com/58783823/116861551-e1134700-ac20-11eb-9f68-c154594c66c9.png">
<img width="1440" alt="Screenshot 2021-05-03 at 2 59 08 PM" src="https://user-images.githubusercontent.com/58783823/116861590-eff9f980-ac20-11eb-914d-5b9b049d8318.png">

[2021-05-03 09:41] SathyaJayabal commented on #76
@luizrrodrigues , colour of the  feedback button is different form that in design
<img width="1440" alt="Screenshot 2021-05-03 at 3 09 42 PM" src="https://user-images.githubusercontent.com/58783823/116861997-b07fdd00-ac21-11eb-8150-12e143457142.png">

The link goes to
https://github.com/topcoder-platform/micro-frontends-earn-app/issues/new
This template is different from  the template described in

[2021-05-03 09:51] luizrrodrigues commented on #76
@SathyaJayabal Template updated.

[2021-05-03 10:06] SathyaJayabal commented on #76
@luizrrodrigues , i dont see the banner or the feedback button. Can u check the build?
<img width="1440" alt="Screenshot 2021-05-03 at 3 35 31 PM" src="https://user-images.githubusercontent.com/58783823/116864263-38b3b180-ac25-11eb-8512-2251e329fc87.png">
<img width="1440" alt="Screenshot 2021-05-03 at 3 35 33 PM" src="https://user-images.githubusercontent.com/58783823/116864276-3e10fc00-ac25-11eb

[2021-05-03 10:26] luizrrodrigues commented on #76
@SathyaJayabal Sorry, after change issue template this run a commit to dev branch and deployed, deploying `bugbash` branch again with fix to feedback button.

[2021-05-03 10:46] luizrrodrigues commented on #76
@SathyaJayabal done.

[2021-05-03 10:57] SathyaJayabal commented on #76
verified on dev
<img width="1440" alt="Screenshot 2021-05-03 at 4 25 47 PM" src="https://user-images.githubusercontent.com/58783823/116868368-4882c400-ac2c-11eb-977b-1d7adf1d98b2.png">

<img width="1440" alt="Screenshot 2021-05-03 at 4 25 43 PM" src="https://user-images.githubusercontent.com/58783823/116868346-3f91f280-ac2c-11eb-8fb7-cb25fb14b72d.png">

[2021-05-03 14:26] SathyaJayabal commented on #92
verified on prod
<img width="1440" alt="Screenshot 2021-05-03 at 7 56 06 PM" src="https://user-images.githubusercontent.com/58783823/116888963-ad98e280-ac49-11eb-8e51-6364fbafedf0.png">

[2021-05-03 14:26] #92 closed

[2021-05-03 14:29] SathyaJayabal commented on #77
verified on prod
<img width="1440" alt="Screenshot 2021-05-03 at 7 57 26 PM" src="https://user-images.githubusercontent.com/58783823/116889254-fbade600-ac49-11eb-9336-02dc35f2ffdc.png">
<img width="1440" alt="Screenshot 2021-05-03 at 7 57 34 PM" src="https://user-images.githubusercontent.com/58783823/116889283-010b3080-ac4a-11eb-9eb6-ce0e4f20d121.png">
<img width="1440" alt="Screenshot 2021-05-03

[2021-05-03 14:32] luizrrodrigues commented on #77
Payment task has been updated: https://www.topcoder.com/challenges/d3bc97e5-08ff-434e-8e34-7eea9969e91b
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `d3bc97e5-08ff-434e-8e34-7eea9969e91b` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-03 14:33] SathyaJayabal commented on #76
verified on prod
<img width="1440" alt="Screenshot 2021-05-03 at 8 02 40 PM" src="https://user-images.githubusercontent.com/58783823/116889764-91497580-ac4a-11eb-9047-3b2208dc8069.png">
<img width="1440" alt="Screenshot 2021-05-03 at 8 02 43 PM" src="https://user-images.githubusercontent.com/58783823/116889782-960e2980-ac4a-11eb-939c-04250cea2d4c.png">

[2021-05-03 14:33] #76 closed

[2021-05-03 14:33] luizrrodrigues commented on #76
Payment task has been updated: https://www.topcoder.com/challenges/5598a7c6-f162-41d8-876f-b94772b790f7
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `5598a7c6-f162-41d8-876f-b94772b790f7` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-03 15:23] luizrrodrigues opened #95 "Update feedback link on the welcome banner to point to Github template"

[2021-05-03 15:35] SathyaJayabal commented on #77
Link verified on dev
<img width="1431" alt="Screenshot 2021-05-03 at 9 05 12 PM" src="https://user-images.githubusercontent.com/58783823/116897782-4d0ea300-ac53-11eb-809d-82e6f85035f1.png">

[2021-05-03 15:38] #77 closed

[2021-05-03 15:38] SathyaJayabal commented on #95
verified
<img width="1431" alt="Screenshot 2021-05-03 at 9 05 12 PM" src="https://user-images.githubusercontent.com/58783823/116898139-a4ad0e80-ac53-11eb-84dc-59bf6e81a465.png">

[2021-05-03 16:00] SathyaJayabal commented on #95
verified on prod
<img width="1440" alt="Screenshot 2021-05-03 at 9 29 32 PM" src="https://user-images.githubusercontent.com/58783823/116900763-bcd25d00-ac56-11eb-9232-227dbb448adf.png">

[2021-05-03 16:00] #95 closed

[2021-05-03 17:35] lightmare commented on #78
@bug-bash-helper #89 is ready for review

[2021-05-03 20:34] #79 closed

[2021-05-04 05:54] praveeno commented on #42
merge conflict resolved

[2021-05-04 16:32] Rokit12 opened #98 "Mobile UI visibility"
### Expected behavior
The content of the website  should be fit in the mobile and tablet devices. The content overflow should be well aligned to fit in one window

### Actual behavior
The content of the website does not fit in mobile window.
### Steps to reproduce the problem
- Go to: https://platform.topcoder.com/earn/find/challenges in mobile
- Scroll the contents both top, bottom and  sideways

[2021-05-04 16:46] Rokit12 opened #99 "[FUNCTIONALITY] Toggle icons"
### Expected behavior
Clicking on the toggle icons there should be functionality displayed in both mobile and web

### Actual behavior
No response when the toggle icons are clicked

### Steps to reproduce the problem
- Go to:https://platform.topcoder.com/earn/find/challenges
- Under "CHALLENGES", on the right side, click the icons
- Observe

### Screenshot/screencast
Attach or link a resource.
![D

[2021-05-05 19:28] Rokit12 opened #100 "[FUNCTIONALITY] Menu title not active"
### Expected behavior
- Clicking on "EARN" on the menu should redirect to the earn page or preferred page

### Actual behavior
- Clicking on "EARN" does not direct to any page/not clickable
### Steps to reproduce the problem
- Go to: https://platform.topcoder.com/earn/find/challenges
- On the Top left of the navigation, After the logo, click the EARN title menu
- Observe

### Screenshot/screencast

[2021-05-05 19:57] Rokit12 opened #101 "[FUNCTIONAL]Challenge link is not active & Find Work dropdown toggle icon moves all the challenge options without hide/unhide"
### Expected behavior
Clicking the "Challenges"  link under the "Find Work" should reload the challenge page. Also clicking the "Find Work" dropdown toggle icon, it should not move the other menu options out of the find work.

### Actual behavior
Clicking the "Challenges"  link under the "Find Work"  is not active anf not functionalthe. clicking the "Find Work" dropdown toggle icon, moves the othe

[2021-05-05 20:02] Rokit12 opened #102 "[UI] No footer"
### Expected behavior
There should be topcoder footer contents
### Actual behavior
There is no footer contents displayed

### Steps to reproduce the problem
- Go to: https://platform.topcoder.com/earn/find/challenges
- Scroll down the page

### Screenshot/screencast
![No footer tab](https://user-images.githubusercontent.com/37167721/117201877-d5c54480-adf5-11eb-823c-edf5c9894ac8.png)

--

#### Env

[2021-05-10 11:57] sushilshinde opened #103 "UX : Pagination UX needs improvement"
Prod link - https://platform.topcoder.com/earn/find/challenges

Issue: When switching between the listing pages using pagination, there is the user experience to suggest that the next page is loading.

[2021-05-10 12:01] sushilshinde commented on #72
@Oanh-and-only-Oanh or implement this option as it was in the original design

[2021-05-10 12:03] sushilshinde commented on #5
@SathyaJayabal @luizrrodrigues should we close this one?

[2021-05-10 13:16] sushilshinde commented on #34
@luizrrodrigues why you did open this issue again?

[2021-05-10 13:35] SathyaJayabal commented on #5
@sushilshinde , we still have an issue with this filter.
https://github.com/topcoder-platform/micro-frontends-earn-app/issues/5#issuecomment-825951755

We are thinking of
https://github.com/topcoder-platform/micro-frontends-earn-app/issues/5#issuecomment-830205784

@Oanh-and-only-Oanh , can you confirm, if we can list events and sub communities as two different filters ?

[2021-05-10 13:55] Oanh-and-only-Oanh commented on #72
please remove view option. keep list view only. thanks.

[2021-05-11 05:35] luizrrodrigues commented on #42
@praveeno, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-11 16:16] praveeno commented on #42
Hello @luizrrodrigues topcoderX login still still not working for me, auto logout

[2021-05-11 20:02] luizrrodrigues commented on #42
Note, msg about 'sign-up' with Topcoder X is automatic when try assign this to you. :)

[2021-05-12 02:54] praveeno commented on #42
okay, still how can I fix auto log out issue, this will slow down productivity in upcoming bugbash

[2021-05-13 05:59] luizrrodrigues commented on #78
@lightmare If unselected all sub-communities, all sub-communities are selected, expect latest one unselect. From this point, filter will looks break if not selected this item.

https://i.gyazo.com/a243d01d5f9a897209ba39d204de7670.mp4

[2021-05-13 06:23] luizrrodrigues commented on #42
@praveeno
1. Search bar not visible when showing error msg:
![image](https://user-images.githubusercontent.com/7029641/118086126-dc296280-b399-11eb-8b32-06bc9e9b1d34.png)

2. Search "X" button, when click filter not reset `search` field:
https://i.gyazo.com/37b468bce1fdd8d768bd10abbc3d4bbe.mp4

[2021-05-13 07:12] kkartunov commented on #103
Additionally, I would like to see app scroll to top when the page is loaded. Will be great UX improvement.

[2021-05-13 10:19] lightmare commented on #78
That looks like a bug in the checkbox component to me. All the other checkboxes switch on when the filter becomes empty, only the last one remains unchecked.

I've pushed a fix that forces checkbox to refresh its state after onChange. Not sure that's the best way to do it, but it avoids getting stuck in the wrong state.

[2021-05-13 16:03] Oanh-and-only-Oanh commented on #78
@luizrrodrigues, please hold on this. We are changing design on this. FYI @sushilshinde and @SathyaJayabal.

[2021-05-19 08:09] praveeno commented on #42
I'll resolve it and push today

[2021-05-26 00:07] cagdas001 opened #104 "My Challenges Bucket is Missing"
![chrome_2021-05-26_02-58-57](https://user-images.githubusercontent.com/28513447/119583202-be62f100-bdce-11eb-89cd-9acb99e9f34c.png)

There are no listing options for my challenges only. I think it's a nice feature to have like we currently have in the community-app

[2021-06-08 06:24] SathyaJayabal opened #105 "My Gigs : The page must be responsive for tab and mobile views"
My Gigs : The page must be responsive for tab and mobile views
cc @LieutenantRoger @sushilshinde
<img width="842" alt="Screenshot 2021-06-08 at 11 50 15 AM" src="https://user-images.githubusercontent.com/58783823/121133681-4544ae80-c850-11eb-92aa-36e4c7c8a556.png">

[2021-06-08 16:19] LieutenantRoger commented on #105
Ok, do we need the gig list to support tablet or mobile ?  If so, we might need a design doc firstly.

[2021-06-09 16:06] Oanh-and-only-Oanh commented on #105
focus will be on desktop only for now, responsive (Tablet and Mobile) will be for the future iteration

[2021-06-14 06:43] SathyaJayabal opened #107 "My Gigs : UI"
https://www.topcoder.com/challenges/7c0f4623-7312-42f7-843b-de499c2207e9

[2021-06-14 06:45] SathyaJayabal commented on #107
Verified on dev

[2021-06-14 06:50] #46 closed

[2021-06-14 06:50] luizrrodrigues commented on #46
Challenge https://www.topcoder.com/challenges/3c823520-72ee-4307-a67c-527986b0bcec has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-14 06:50] luizrrodrigues commented on #46
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-14 06:50] #34 closed

[2021-06-14 06:50] #6 closed

[2021-06-14 06:50] #7 closed

[2021-06-14 06:57] SathyaJayabal commented on #14
Month and year selection style is diff form deisgn
<img width="1440" alt="Screenshot 2021-06-14 at 12 25 41 PM" src="https://user-images.githubusercontent.com/58783823/121851408-b29e8680-cd0b-11eb-9862-cc0318dc9351.png">
<img width="1440" alt="Screenshot 2021-06-14 at 12 25 46 PM" src="https://user-images.githubusercontent.com/58783823/121851474-ce099180-cd0b-11eb-8837-0d183317c3bd.png">

[2021-06-14 07:15] SathyaJayabal commented on #107
verified on prod
<img width="1439" alt="Screenshot 2021-06-14 at 12 43 55 PM" src="https://user-images.githubusercontent.com/58783823/121853174-36597280-cd0e-11eb-9989-49559dc58e74.png">

[2021-06-14 07:15] #107 closed

[2021-06-14 13:11] praveeno commented on #42
Addressed

[2021-06-14 13:12] praveeno commented on #42
@luizrrodrigues please check

[2021-06-15 04:59] SathyaJayabal opened #108 "My gigs: profile update popup- coutries list must be loaded from v5/lookup api"
expected: Load countries dropdown values from
https://api.topcoder-dev.com/v5/lookups/countries

[2021-06-17 07:28] luizrrodrigues commented on #47
Payment ticket: https://www.topcoder.com/challenges/2f4c48ce-2e98-4f5d-9449-9686696e8f9b

[2021-06-17 07:30] luizrrodrigues commented on #7
@praveeno Payment ticket: https://www.topcoder.com/challenges/789d540d-53f9-4b3d-8829-8229d3301060

[2021-06-17 07:31] luizrrodrigues commented on #47
Challenge https://www.topcoder.com/challenges/82a22ceb-63c8-46bf-af15-15d2057296ea has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-17 07:33] luizrrodrigues commented on #46
Challenge https://www.topcoder.com/challenges/007a9966-27dd-42bf-bd94-2737642f3119 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-21 05:08] SathyaJayabal opened #109 "My Gigs: Applied status must not have a next status"
My Gigs: Applied status must not have a next status
<img width="1440" alt="Screenshot 2021-06-21 at 10 35 42 AM" src="https://user-images.githubusercontent.com/58783823/122709791-9b681780-d27c-11eb-905f-b3cf75ed0fd4.png">

[2021-06-21 06:53] SathyaJayabal opened #110 "The remarks from RCRM and the standard message locations are interchanged"
Please see below image for placement of standard message and remarks from RCRM
https://topcoder.slack.com/archives/C020Y9C74G6/p1622047655124600?thread_ts=1622002162.101000&cid=C020Y9C74G6
![Screen Shot 2021-05-26 at 9 45 57 AM](https://user-images.githubusercontent.com/58783823/122719012-41bb1980-d28b-11eb-8209-ee7b375df5c1.png)
In the app the loctaion are interchanged
<img width="1440" alt="Scre

[2021-06-21 07:11] SathyaJayabal opened #111 "Remarks from RCRM are not displayed, when the user is in open/screen pass status"
Remarks from RCRM are not displayed, when the user is in open status
example: here the remarks are present in JC record, but not displayed on the FE
<img width="976" alt="Screenshot 2021-06-21 at 12 39 51 PM" src="https://user-images.githubusercontent.com/58783823/122721047-cf980400-d28d-11eb-9eb1-4f7be82ddd2c.png">

<img width="1100" alt="Screenshot 2021-06-21 at 12 38 27 PM" src="https://user-im

[2021-06-21 08:24] SathyaJayabal opened #112 "Placed status must not be shown on the tooltip when the candidate is in "not selected" status"
Placed status must not be shown on the tooltip when the candidate is in "not selected" status
<img width="1098" alt="Screenshot 2021-06-21 at 1 53 00 PM" src="https://user-images.githubusercontent.com/58783823/122730720-2b678a80-d298-11eb-9edd-0b30f386d341.png">

[2021-06-21 08:52] SathyaJayabal opened #113 "Handling of progress bar with only one status"
The statuses (job-closed and rejected-other), can happen at anytime during the application process, hence we cannot predict the progress bar based on current status. How should the progress bar and the status tool tip be displayed for these cases.

At present the show more does not display any additional data. In this case we can  hide the show more link.
The tooltip, has not selected as current s

[2021-06-21 11:49] sushilshinde opened #114 "Part my Gigs Impl - Add Submit re-direction from community app"
When user apply for the gigs from community-app, they should be directed to earns > my gigs page

[2021-06-21 12:47] LieutenantRoger commented on #113
1. We are hidding the progress bar when there's only one status of a job. Do you mean we should hide the 'SHOW MORE' button as well ?
2. The 'NEXT: XXX' part on the tooltip indicates the job current status.  So if it's wrongly displayed, please tell how to display it.

[2021-06-21 13:34] LieutenantRoger commented on #111
@SathyaJayabal  Can't reproduce, which API you are visting ?  See what I received from the agg Job API

https://monosnap.com/file/2e7C0pMx78LD3B6SJQEe60hgVcoJZQ

[2021-06-21 13:53] SathyaJayabal commented on #111
@LieutenantRoger , please try now for user `topacc_three` for job `REACT DEVELOPER - JOB 1`

[2021-06-21 14:37] SathyaJayabal opened #115 "Do not show remarks icon when there is no remarks"
Do not show remarks icon when there  is no remarks
<img width="1084" alt="Screenshot 2021-06-21 at 8 06 22 PM" src="https://user-images.githubusercontent.com/58783823/122780253-4c49d300-d2cc-11eb-9173-2abbd68f63d5.png">

[2021-06-21 16:55] Oanh-and-only-Oanh commented on #114
Option #1, add a button/link to direct users to the APP on this gig application page.
![image](https://user-images.githubusercontent.com/47536078/122799579-bd5e9b80-d276-11eb-80c9-b13971054694.png)

Option #2, and/or add a button to the confirmation page after the users submits their application.
![image](https://user-images.githubusercontent.com/47536078/122799604-c8193080-d276-11eb-9a41-41fcdad4

[2021-06-22 02:10] LieutenantRoger commented on #113
![截屏2021-06-22 上午10 10 17](https://user-images.githubusercontent.com/2875203/122851674-f748a400-d341-11eb-9482-b3502dde06c6.png)
Updated it like this for now since it doesn't have progress bar

[2021-06-22 04:04] SathyaJayabal commented on #115
verified
<img width="1086" alt="Screenshot 2021-06-22 at 9 34 08 AM" src="https://user-images.githubusercontent.com/58783823/122861404-04af5f80-d33d-11eb-85f7-24d64c56e677.png">

[2021-06-22 04:10] SathyaJayabal commented on #111
verified on dev
<img width="1120" alt="Screenshot 2021-06-22 at 9 40 20 AM" src="https://user-images.githubusercontent.com/58783823/122861918-e433d500-d33d-11eb-8ae5-4b8d8b83cb52.png">

[2021-06-22 04:12] SathyaJayabal commented on #110
verified on dev
<img width="1440" alt="Screenshot 2021-06-22 at 9 41 49 AM" src="https://user-images.githubusercontent.com/58783823/122862033-1fce9f00-d33e-11eb-81cd-68762767e2be.png">

[2021-06-22 04:14] SathyaJayabal commented on #109
verified on dev
<img width="1152" alt="Screenshot 2021-06-22 at 9 43 17 AM" src="https://user-images.githubusercontent.com/58783823/122862140-4db3e380-d33e-11eb-91a2-d75d253de264.png">

[2021-06-22 04:16] SathyaJayabal commented on #113
@LieutenantRoger , tooltip is good, let's hide the show more too for now as there is no data displayed on show more.

 If needed we can display later.

[2021-06-22 06:40] LieutenantRoger commented on #113
Fixed @SathyaJayabal

[2021-06-22 07:13] SathyaJayabal commented on #113
@LieutenantRoger , thanks.
<img width="1101" alt="Screenshot 2021-06-22 at 12 42 54 PM" src="https://user-images.githubusercontent.com/58783823/122880236-6c72a400-d357-11eb-8152-d3d6b25b4beb.png">

[2021-06-23 04:31] SathyaJayabal opened #118 "Listings: skills filter is not returning any search results while the user types"
Listings: skills filter is not returning any search results while the user types
<img width="1440" alt="Screenshot 2021-06-23 at 9 59 11 AM" src="https://user-images.githubusercontent.com/58783823/123035885-c5027980-d409-11eb-90bb-1d568b6a7f29.png">

cc @sushilshinde @Oanh-and-only-Oanh

[2021-06-23 05:20] SathyaJayabal opened #120 "Aggregator api returning a 404 error for some users"
For example: user tonyj
<img width="1440" alt="Screenshot 2021-06-23 at 10 43 21 AM" src="https://user-images.githubusercontent.com/58783823/123039477-d8b0de80-d40f-11eb-96dd-21a55dc3d328.png">

[2021-06-23 05:33] SathyaJayabal commented on #120
Working on incognito mode
<img width="1440" alt="Screenshot 2021-06-23 at 11 01 59 AM" src="https://user-images.githubusercontent.com/58783823/123041076-75747b80-d412-11eb-9bda-57284c6b9264.png">

[2021-06-23 05:33] #120 closed

[2021-06-23 08:41] SathyaJayabal opened #122 "Make "Check Emaill" action button similar to "Standby" action button"
based on clarification here
https://docs.google.com/spreadsheets/d/1Au-C-9fRes9VAB580aNtyLBbxStsx0Jrb1o3Yeuse5c/edit#gid=1380618266
(row 11)

cc @LieutenantRoger

[2021-06-23 09:38] SathyaJayabal opened #124 "My Gigs: aggregator api and integration with aggregator api"
https://www.topcoder.com/challenges/9918d2af-d5ce-4510-938b-f85da6c4679f
https://www.topcoder.com/challenges/2b9da911-6e3f-45e6-9226-e1d64d917c26

[2021-06-23 09:52] LieutenantRoger commented on #114
@Oanh-and-only-Oanh  Are these three options need to be implemented, right ?

[2021-06-23 09:54] LieutenantRoger commented on #114
@Oanh-and-only-Oanh  Are these three options need to be implemented, right ?

[2021-06-23 12:09] SathyaJayabal opened #127 "My Gigs: Sort Issue"
Background: The sorting of the my gigs is handled on the FE as backend doesn't support the required sort.
The sort order is : Placed, Offered, Selected, Interview Process, Screen Pass, Phone Screen, Skills Test, Applied, Job Closed, Not Selected

When my gigs page is accessed the first 10 gigs are shown. These 10 are sorted based on the above order. When we load more another 10 gigs are shown, now

[2021-06-24 02:25] LieutenantRoger commented on #114
@sushilshinde @Oanh-and-only-Oanh Need the design for these screens about where we need to add buttons.

[2021-06-24 02:46] LieutenantRoger commented on #114
Also ,I think the option 3, email is not sent from Community App , so we are not able to change that. Maybe we need to @Jessie

[2021-06-24 04:10] SathyaJayabal commented on #122
verified
<img width="1440" alt="Screenshot 2021-06-24 at 9 39 48 AM" src="https://user-images.githubusercontent.com/58783823/123201375-2c82fc80-d4d0-11eb-8cc0-f13c69f9cc15.png">

[2021-06-24 04:12] SathyaJayabal opened #128 "Profile Update popup: Existing resume not displayed"
The existing resume must be displayed on the popup like in the design. This also does not allow the user to update any other data without uploading a resume.
<img width="1440" alt="Screenshot 2021-06-24 at 9 38 46 AM" src="https://user-images.githubusercontent.com/58783823/123201515-766be280-d4d0-11eb-89f4-7f0b1fb04b0e.png">
<img width="1440" alt="Screenshot 2021-06-24 at 9 39 02 AM" src="https://

[2021-06-24 04:34] SathyaJayabal opened #129 "Gig title must wrap when its too long"
Gig title must wrap when its too long
<img width="1440" alt="Screenshot 2021-06-24 at 10 01 38 AM" src="https://user-images.githubusercontent.com/58783823/123202989-43771e00-d4d3-11eb-86db-4e988e0f10a2.png">

[2021-06-24 04:38] SathyaJayabal opened #130 "profile api returns 500 error for users who have not applied to any gigs yet"
https://platform.topcoder-dev.com/earn-app/api/my-gigs/profile
returns a 500 error for user who have not applied to any gigs yet (no candidate in rcrm yet)
<img width="1440" alt="Screenshot 2021-06-24 at 10 07 31 AM" src="https://user-images.githubusercontent.com/58783823/123203449-04959800-d4d4-11eb-9580-f2de746ad8ef.png">

In these cases, the profile must be loaded with only data from v5/members

[2021-06-24 04:54] LieutenantRoger commented on #128
I choose to not display it is to sync the file component behavior from here: https://www.topcoder.com/gigs/26751764/apply, which confirmed by @sushilshinde before.  @SathyaJayabal

We can add it, for sure, but the fix will require change both the API and Frontend, to make the resume field as an optional one.

[2021-06-24 04:55] LieutenantRoger commented on #130
Hmmm, our API doesn't support to create RCRM profile yet, can we safely assume that when a member can update profile, he should have profile at RCRM side ?

[2021-06-24 05:08] SathyaJayabal opened #131 "Unable to update city"
When updating the profile, we get the error, `"createdBy" must be a string `
<img width="1440" alt="Screenshot 2021-06-24 at 10 37 13 AM" src="https://user-images.githubusercontent.com/58783823/123205892-4d4f5000-d4d8-11eb-9e0f-5fa6e4b90eab.png">

[2021-06-24 05:11] LieutenantRoger commented on #131
Could you try Incognito mode, it looks fine when I update: https://monosnap.com/file/jRuZcbW9gWAbcKzLeM3kz23Fj3tDzu

[2021-06-24 05:12] SathyaJayabal commented on #128
@LieutenantRoger , in the gigs apply page too, the existing resume is shown and is used if the user does not upload a new one
<img width="1440" alt="Screenshot 2021-06-24 at 10 41 36 AM" src="https://user-images.githubusercontent.com/58783823/123206153-d4042d00-d4d8-11eb-9456-93fa268cdc1e.png">

[2021-06-24 05:15] SathyaJayabal commented on #130
@LieutenantRoger , most users may not have applied to a gig yet. what will be the flow for them ?
cc @sushilshinde

Currently for the gigs application page, when user has not applied before, the candidate is created  in RCRM when they apply for the first time, Can we not use the same feature here ?

[2021-06-24 05:36] SathyaJayabal commented on #131
for the `topacc_three` user I get the following error
<img width="1440" alt="Screenshot 2021-06-24 at 11 01 11 AM" src="https://user-images.githubusercontent.com/58783823/123207848-a7054980-d4db-11eb-890e-3bb6a0ba1718.png">

[2021-06-24 06:57] LieutenantRoger commented on #128
That's outside of the file component, let me know if we follow that part as well, we'll make some adjusments.

[2021-06-24 08:38] SathyaJayabal commented on #115
verified on prod
<img width="1419" alt="Screenshot 2021-06-24 at 2 07 58 PM" src="https://user-images.githubusercontent.com/58783823/123231199-9c57ae00-d4f5-11eb-9a1a-47cf6e7a37aa.png">

[2021-06-24 08:38] #115 closed

[2021-06-24 08:39] SathyaJayabal commented on #113
Verified on prod

[2021-06-24 08:39] #113 closed

[2021-06-24 08:40] SathyaJayabal commented on #111
verified on prod

[2021-06-24 08:40] #111 closed

[2021-06-24 08:41] SathyaJayabal commented on #112
verified on prod
<img width="1440" alt="Screenshot 2021-06-24 at 2 10 29 PM" src="https://user-images.githubusercontent.com/58783823/123231629-01ab9f00-d4f6-11eb-83f2-1f4ef740ebf5.png">

[2021-06-24 08:41] #112 closed

[2021-06-24 08:42] SathyaJayabal commented on #110
verified on prod
<img width="1108" alt="Screenshot 2021-06-24 at 2 11 47 PM" src="https://user-images.githubusercontent.com/58783823/123231801-26a01200-d4f6-11eb-8c61-dfa51a25a926.png">

[2021-06-24 08:42] #110 closed

[2021-06-24 08:43] SathyaJayabal commented on #109
verified on prod
<img width="1440" alt="Screenshot 2021-06-24 at 2 12 55 PM" src="https://user-images.githubusercontent.com/58783823/123231933-4b948500-d4f6-11eb-99c6-2e620dd3645e.png">

[2021-06-24 08:43] #109 closed

[2021-06-24 08:44] SathyaJayabal commented on #124
verified on prod
<img width="1440" alt="Screenshot 2021-06-24 at 2 13 36 PM" src="https://user-images.githubusercontent.com/58783823/123232047-6535cc80-d4f6-11eb-80ee-ab387e6eb480.png">

[2021-06-24 08:44] #124 closed

[2021-06-24 09:21] SathyaJayabal opened #132 "Profile Update: City and Country details are not getting updated to RCRM"
Profile Update: City and Country details are not getting updated to RCRM

<img width="1440" alt="Screenshot 2021-06-24 at 2 49 15 PM" src="https://user-images.githubusercontent.com/58783823/123237801-9bc21600-d4fb-11eb-9121-f8542f2c62c8.png">
<img width="1440" alt="Screenshot 2021-06-24 at 2 49 31 PM" src="https://user-images.githubusercontent.com/58783823/123237832-a11f6080-d4fb-11eb-8c35-beb7a96

[2021-06-24 09:36] SathyaJayabal opened #133 "Profile Update: v5 member traits Country field must also be updated"
during profile update, v5 member traits Country field must also be updated

example:
1. Go to member profile settings and check country :
home country code, competition country code and country  are all Japan
<img width="1440" alt="Screenshot 2021-06-24 at 2 59 24 PM" src="https://user-images.githubusercontent.com/58783823/123239331-e2fcd680-d4fc-11eb-904f-c87a67d5e20e.png">

2. Go to update gig w

[2021-06-24 09:38] SathyaJayabal opened #134 "Remove placed status from tooltip"
If we are not supporting the placed status in the availability drop down, we must remove it from the tooltip.
<img width="1440" alt="Screenshot 2021-06-24 at 3 06 38 PM" src="https://user-images.githubusercontent.com/58783823/123240473-f6f50800-d4fd-11eb-8231-53548ba5b350.png">

[2021-06-24 09:57] SathyaJayabal opened #135 "Telephone Number validation error is displayed even when the number is correct"
1. Open Update resume popup
2. Update any field like availability, resume or city
3. Invalid country code message is displayed.
4. Select another country and then  reselect  the original country again for the message to disappear

https://user-images.githubusercontent.com/58783823/123242814-07a67d80-d500-11eb-881b-cc9abbb0c439.mov

OR
1. Open Update resume popup
2. Update phone number without chan

[2021-06-24 15:27] Oanh-and-only-Oanh commented on #114
@darak, we need designs for options 1-2 please.

[2021-06-24 16:41] sushilshinde commented on #133
That observation is right

@Oanh-and-only-Oanh please suggest

[2021-06-24 16:42] sushilshinde commented on #132
yeah that's a bug

[2021-06-24 16:43] sushilshinde commented on #131
@LieutenantRoger is that the same user account that got corrupted data while development?

[2021-06-24 16:45] sushilshinde commented on #130
@LieutenantRoger that button  should disabled for users those don't have records in RCRM
Though I will look for help from Glenn and @Oanh-and-only-Oanh

[2021-06-24 16:47] sushilshinde commented on #128
@LieutenantRoger UI need to show existing resume, same as existing apply form

[2021-06-24 16:47] Oanh-and-only-Oanh commented on #130
Correct, please disable update button if user has not applied to any gigs yet

[2021-06-24 17:50] fajarmln commented on #114
[GITHUB_ISSUE_114.zip](https://github.com/topcoder-platform/micro-frontends-earn-app/files/6711200/GITHUB_ISSUE_114.zip)

Design attached for option 1 and option 2.

[2021-06-24 21:47] crazyk07 commented on #130
Correct, disabling is fine.  Also, the only way for someone to know about this page is if they applied for a gig in the first place.

[2021-06-25 03:35] LieutenantRoger commented on #131
We should not have corrupted data any more.  let me try to reproduce this

[2021-06-25 03:37] SathyaJayabal commented on #131
@LieutenantRoger @sushilshinde , this is not due to corrupted data, Its because the user has not  added an address to their member profile yet. When we try to write only the  city, we get this error. This is validation on the members api side for updating address.

[2021-06-25 03:56] LieutenantRoger commented on #131
Hmmm, but if we are trying to add a new city for a member only, what to fill the addr1 ? We don't have UI to accept the params, shall I pass just empty for them ?

[2021-06-25 04:03] SathyaJayabal commented on #131
@LieutenantRoger , but I am able to change only city form member profile. So not sure why we get this error.

[2021-06-25 07:12] SathyaJayabal commented on #130
verified on dev
User without any previous gig application:
<img width="1440" alt="Screenshot 2021-06-25 at 12 40 55 PM" src="https://user-images.githubusercontent.com/58783823/123385047-bc997280-d5b2-11eb-855b-e2b47a28b116.png">
user with gig applications
<img width="1440" alt="Screenshot 2021-06-25 at 12 41 21 PM" src="https://user-images.githubusercontent.com/58783823/123385087-c622da80-d5b2-11e

[2021-06-25 07:26] SathyaJayabal commented on #131
@LieutenantRoger , now we get the following error when updating city for users who dont have an address yet

Note: before it was `streetAddr1` now it is `streetAddr2`

<img width="1440" alt="Screenshot 2021-06-25 at 12 55 24 PM" src="https://user-images.githubusercontent.com/58783823/123386761-a1c7fd80-d5b4-11eb-83b5-54f57143afe4.png">

[2021-06-25 07:34] SathyaJayabal opened #136 "Profile update: Blank page on selecting some countries"
Getting this error when `United States Minor Outlying Island` is selected from the country dropdown.

<img width="1440" alt="Screenshot 2021-06-25 at 1 02 08 PM" src="https://user-images.githubusercontent.com/58783823/123387644-a17c3200-d5b5-11eb-8e44-e12e9fb6e96c.png">

https://user-images.githubusercontent.com/58783823/123387602-97f2ca00-d5b5-11eb-8455-17cada1d126d.mov

[2021-06-25 07:37] SathyaJayabal commented on #108
countries is populated from idv5/lookup/countries
<img width="1440" alt="Screenshot 2021-06-25 at 1 06 53 PM" src="https://user-images.githubusercontent.com/58783823/123388281-3bdc7580-d5b6-11eb-8e71-b85abbe85c12.png">

[2021-06-25 07:48] LieutenantRoger commented on #133
We have added logic to update members’ trait info.

[2021-06-25 07:51] LieutenantRoger commented on #131
Ok, hmmm, looks similar issue. Let me add default value for streetAddr2.

[2021-06-25 08:10] SathyaJayabal commented on #133
verified on dev:
1. country updated from gigs profile update is reflected on member profile
<img width="1440" alt="Screenshot 2021-06-25 at 1 34 41 PM" src="https://user-images.githubusercontent.com/58783823/123392072-4862cd00-d5ba-11eb-96f9-4bd255d4394e.png">
<img width="1440" alt="Screenshot 2021-06-25 at 1 34 45 PM" src="https://user-images.githubusercontent.com/58783823/123392102-4d278100-d5ba

[2021-06-25 08:45] SathyaJayabal commented on #131
@LieutenantRoger Also when address details are already present and user tries to update city, we get the following error

<img width="1440" alt="Screenshot 2021-06-25 at 2 13 38 PM" src="https://user-images.githubusercontent.com/58783823/123397108-afcf4b80-d5bf-11eb-92d8-dd9552d967a2.png">
<img width="1440" alt="Screenshot 2021-06-25 at 2 13 48 PM" src="https://user-images.githubusercontent.com/58

[2021-06-25 09:38] SathyaJayabal opened #137 "Profile update: Country is not updated in member profile for new user with no basic info added yet"
Profile update: Country is not updated in member profile for new user with no basic info added yet

example: tester123456
1. open update profile popup from my gigs page. City and country are empty.
https://platform.topcoder-dev.com/earn/my-gigs
<img width="1440" alt="Screenshot 2021-06-25 at 1 44 24 PM" src="https://user-images.githubusercontent.com/58783823/123404717-c0cf8b00-d5c6-11eb-9202-9f09b

[2021-06-25 14:06] LieutenantRoger commented on #131
I have specified the default value for streetAddr2, and deleted createdBy and  updatedBy

[2021-06-26 01:47] LieutenantRoger commented on #137
Current earn-app will update member basic traits data when the member has traits, the above scenario is when member doesn't have basic traits info.

Please let me know whether we need to create traits on earn-app when member updated his profile.

This will involve to integrate another traits API I think.

@sushilshinde @Oanh-and-only-Oanh

[2021-06-26 05:21] SathyaJayabal commented on #134
Verified on dev
<img width="1440" alt="Screenshot 2021-06-26 at 10 50 16 AM" src="https://user-images.githubusercontent.com/58783823/123502762-625ce800-d66c-11eb-856f-4d25aa63d51f.png">

[2021-06-26 05:24] SathyaJayabal commented on #129
verified on dev
<img width="1440" alt="Screenshot 2021-06-26 at 10 53 25 AM" src="https://user-images.githubusercontent.com/58783823/123502825-cbdcf680-d66c-11eb-8d02-d064f2b992f1.png">

[2021-06-26 05:26] SathyaJayabal commented on #137
This should be  fixed if this issue on community app is fixed
https://github.com/topcoder-platform/community-app/issues/5501

cc @sushilshinde

[2021-06-26 05:39] SathyaJayabal commented on #128
@LieutenantRoger ,

1. Can we remove the text "and add them to the tech skills section below." because we dont have the tech skills section here(only on the apply page).

<img width="1440" alt="Screenshot 2021-06-26 at 10 58 01 AM" src="https://user-images.githubusercontent.com/58783823/123502959-8d940700-d66d-11eb-929a-7f879393bfcb.png">

2. We are getting the below error when we update any field

[2021-06-26 05:42] SathyaJayabal opened #138 "Getting a blank page on clicking "Update Gig Work Profile" button"
Getting a blank page on clicking "Update Gig Work Profile" button, after the user has updated their profile once.

<img width="1440" alt="Screenshot 2021-06-26 at 11 11 39 AM" src="https://user-images.githubusercontent.com/58783823/123503238-4c9cf200-d66f-11eb-84b3-24359797d94d.png">

https://user-images.githubusercontent.com/58783823/123503232-427af380-d66f-11eb-9b4a-d092dae0853e.mov

[2021-06-26 05:56] SathyaJayabal commented on #138
Additional info: The country value is not getting updated correctly when we save any updates.
<img width="1440" alt="Screenshot 2021-06-26 at 11 24 56 AM" src="https://user-images.githubusercontent.com/58783823/123503545-3859f480-d671-11eb-9868-dc596231d1dd.png">

[2021-06-26 06:14] SathyaJayabal commented on #131
@LieutenantRoger

1. Case where address is already added, City is getting updated correctly. But we get the following error from api and the successful message is not shown.
<img width="1440" alt="Screenshot 2021-06-26 at 11 42 43 AM" src="https://user-images.githubusercontent.com/58783823/123503944-c0d99480-d673-11eb-8a11-52b3c48b4916.png">

[2021-06-26 06:29] SathyaJayabal commented on #136
@LieutenantRoger , this is now happening to all countries.

https://user-images.githubusercontent.com/58783823/123504292-e5cf0700-d675-11eb-8721-7ddee59abd8e.mov

[2021-06-26 08:23] LieutenantRoger commented on #138
This user seems having currpted data, the competitionCountryCode should not be "undefined",  it may caused by previous API change.

[2021-06-26 08:27] SathyaJayabal commented on #138
@LieutenantRoger , its getting set to undefined when we update from the popup.

[2021-06-26 08:31] LieutenantRoger commented on #136
We used this library for verifying the country code of a phone number `country-calling-code`

The country selected can't be find in the library `country-calling-code`,  the current strategy is disabling country code validation if user selected one country which doesn exist in this library `country-calling-code`

@SathyaJayabal @sushilshinde

Please let me know if this way works.

[2021-06-26 08:32] LieutenantRoger commented on #131
Please try again

[2021-06-26 08:41] SathyaJayabal commented on #138
This is fixed and verified on dev

[2021-06-26 08:50] SathyaJayabal commented on #136
Verified. If the country is not in the list then validation does not happen. There is no blank page error.

[2021-06-26 08:57] SathyaJayabal commented on #131
Case 1 : Address already added in member profile. The city gets updated from the my gigs popup as expected.
Case 2: Address not present in member profile. The city gets updated from my gigs popup as expected. The address 1, address 2, state and zip fields are updated with space. This is to overcome the situation where we are only adding the city and other fields are expected to be not null. cc @su

[2021-06-26 08:58] SathyaJayabal commented on #132
verified on dev, city and country updated to RCRM city and location
<img width="1440" alt="Screenshot 2021-06-26 at 2 17 26 PM" src="https://user-images.githubusercontent.com/58783823/123508057-ba0a4c00-d68a-11eb-9fa4-cc4b83f0bca3.png">
<img width="1440" alt="Screenshot 2021-06-26 at 2 17 39 PM" src="https://user-images.githubusercontent.com/58783823/123508063-c0002d00-d68a-11eb-9455-ea7c3c38420c.

[2021-06-26 10:55] LieutenantRoger commented on #128
@SathyaJayabal

1. OK, removed. It is deploying, presumably 5 min later will be ready.

2. This has already been fixed and deployed, please try again.

[2021-06-26 13:04] SathyaJayabal commented on #128
@LieutenantRoger , Main issue is fixed. Juts  a couple of minor issues.

1. Can we add some padding to the  text here.
<img width="1440" alt="Screenshot 2021-06-26 at 6 23 29 PM" src="https://user-images.githubusercontent.com/58783823/123513599-ae7b4d00-d6ab-11eb-966c-32331ef9da2f.png">

2. Clicking on the resume link must open the resume in new tab like in the gigs  application page. Currently it

[2021-06-26 13:08] SathyaJayabal commented on #135
Verified on dev

https://user-images.githubusercontent.com/58783823/123513940-9b697c80-d6ad-11eb-9f40-92489eb8766d.mov

[2021-06-26 15:40] SathyaJayabal commented on #128
verified above 2 points
<img width="1440" alt="Screenshot 2021-06-26 at 9 09 42 PM" src="https://user-images.githubusercontent.com/58783823/123518297-eb9f0980-d6c2-11eb-89cb-8811eb54385d.png">

[2021-06-28 07:57] SathyaJayabal opened #141 "Update Gig Work Profile Feature"
https://www.topcoder.com/challenges/74d436be-8c2b-4670-9bc5-ccc074c56520
https://www.topcoder.com/challenges/27a15f48-18bf-4801-84b1-d840d85091cb

[2021-06-28 07:58] SathyaJayabal commented on #141
verified on dev
https://docs.google.com/spreadsheets/d/1qvpHH3ZWEhOwS1ma1-YA_weCtE7gW6Oz/edit#gid=1709310353

[2021-06-29 03:58] SathyaJayabal commented on #138
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 27 38 AM" src="https://user-images.githubusercontent.com/58783823/123735126-45b6ef00-d8bc-11eb-8ec8-2be5bf8a027b.png">

[2021-06-29 03:58] #138 closed

[2021-06-29 03:59] SathyaJayabal commented on #136
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 28 43 AM" src="https://user-images.githubusercontent.com/58783823/123735211-6bdc8f00-d8bc-11eb-8a16-0d441ffeb15a.png">

[2021-06-29 03:59] #136 closed

[2021-06-29 04:01] SathyaJayabal commented on #135
verified on prod

https://user-images.githubusercontent.com/58783823/123735390-bd851980-d8bc-11eb-9981-6dc8c133c97f.mov

[2021-06-29 04:01] #135 closed

[2021-06-29 04:03] SathyaJayabal commented on #134
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 33 11 AM" src="https://user-images.githubusercontent.com/58783823/123735547-0a68f000-d8bd-11eb-9c7c-ac6d55145d73.png">

[2021-06-29 04:03] #134 closed

[2021-06-29 04:04] SathyaJayabal commented on #133
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 34 10 AM" src="https://user-images.githubusercontent.com/58783823/123735657-3be1bb80-d8bd-11eb-8316-c2dae8b955c0.png">
<img width="1440" alt="Screenshot 2021-06-29 at 9 34 32 AM" src="https://user-images.githubusercontent.com/58783823/123735671-41d79c80-d8bd-11eb-9416-533d638d1cc4.png">

[2021-06-29 04:04] #133 closed

[2021-06-29 04:05] SathyaJayabal commented on #132
verified  on prod

[2021-06-29 04:05] #132 closed

[2021-06-29 04:05] SathyaJayabal commented on #131
verified on prod

[2021-06-29 04:05] #131 closed

[2021-06-29 04:06] SathyaJayabal commented on #130
verified on prod.

[2021-06-29 04:06] #130 closed

[2021-06-29 04:08] SathyaJayabal commented on #129
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 37 19 AM" src="https://user-images.githubusercontent.com/58783823/123735904-bdd1e480-d8bd-11eb-854a-cebdad8703fd.png">

[2021-06-29 04:08] #129 closed

[2021-06-29 04:09] SathyaJayabal commented on #128
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 38 52 AM" src="https://user-images.githubusercontent.com/58783823/123735992-e0fc9400-d8bd-11eb-98c7-586942adcb77.png">

[2021-06-29 04:09] #128 closed

[2021-06-29 04:13] SathyaJayabal commented on #122
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 42 44 AM" src="https://user-images.githubusercontent.com/58783823/123736242-684a0780-d8be-11eb-8026-1a002e9b8a6c.png">

[2021-06-29 04:13] #122 closed

[2021-06-29 04:14] SathyaJayabal commented on #108
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 43 53 AM" src="https://user-images.githubusercontent.com/58783823/123736328-90396b00-d8be-11eb-924c-06b1219f241b.png">

[2021-06-29 04:14] #108 closed

[2021-06-29 04:15] SathyaJayabal commented on #141
verified on prod
<img width="1440" alt="Screenshot 2021-06-29 at 9 44 41 AM" src="https://user-images.githubusercontent.com/58783823/123736394-a8a98580-d8be-11eb-8dbc-231a583c7361.png">

[2021-06-29 04:15] #141 closed

[2021-06-29 05:24] #105 closed

[2021-06-30 09:39] SathyaJayabal commented on #137
fixed in https://github.com/topcoder-platform/community-app/issues/5501

[2021-06-30 09:39] #137 closed

[2021-06-30 12:32] sushilshinde opened #143 "Improve User Experience : After Gigs Apply > My Gigs"
**Problem:**

When the user applies from the gigs page, and UI shows them a button to redirect to my gigs application. But because there is a third-party architectural component(Zapier)that syncs RCMR data to the TaaS system, and it creates eventual consistency between the two systems.  That adds latency, and it's a bad user experience.

<img width="1649" alt="Gigs Work App v1 0 Shapeup - Demo 3 -

[2021-06-30 18:55] Oanh-and-only-Oanh opened #144 "Direct "Feedback" to forums not github"
### Current behavior
When user clicks on "give feedback" button, user is direct to Github to open a ticket.

### Expected behavior
When user clicks on "give feedback" button, user should be directed to Forums https://discussions.topcoder.com/discussion/8870/new-beta-site-discuss?new=1.

1)
![image](https://user-images.githubusercontent.com/47536078/124015755-d6afc800-d999-11eb-9b82-f03aa91b6160.pn

[2021-07-01 04:42] sushilshinde opened #145 "Return to gigs listing : Flow continuity"
When a user lands on My Gigs(Earn) from Gigs listing(Community App), they do not have navigation back to gigs listing. Need a design to add user experience.

[2021-07-01 17:11] Oanh-and-only-Oanh commented on #145
Design for a button/link to allow users to navigate from My Gigs on Earn back to the gigs listings page on Community App? A button/link on this page should direct user to https://www.topcoder.com/gigs
![image](https://user-images.githubusercontent.com/47536078/124163631-9a8d6d80-da54-11eb-96d5-bcf50958628a.png)

1) If user does not have any open Gig applications,  add CTA link/button to middle of

[2021-07-02 07:24] dedywahyudi commented on #144
@Oanh-and-only-Oanh  @sushilshinde @urwithat

This should be fixed. Here's the PR to dev:
https://github.com/topcoder-platform/micro-frontends-earn-app/pull/146

![Screen Shot 2021-07-02 at 14 21 46](https://user-images.githubusercontent.com/4476442/124236893-267cc380-db41-11eb-8cfc-8942df715a1b.png)
![Screen Shot 2021-07-02 at 14 21 54](https://user-images.githubusercontent.com/4476442/124236898-

[2021-07-02 16:09] Oanh-and-only-Oanh opened #147 "View job description of applied to gig"
**Current behavior**
Currently, when the user has applied to a gig and that gig application is pending under MY GIG page, there is no way for the user to review that particular job description again.

**Expected behavior**
When the user has applied to a gig and that gig application is pending under MY GIG page, user can view the job description of the job they applied to if they click on the job t

[2021-07-03 03:14] dedywahyudi commented on #147
@Oanh-and-only-Oanh

How user start apply the Gig? I'm not see the Gig list: https://platform.topcoder-dev.com/earn/my-gigs
Using TonyJ account.

[2021-07-03 03:24] Oanh-and-only-Oanh commented on #147
The user has to submit a gig application

[2021-07-04 03:06] dedywahyudi commented on #147
![Screen Shot 2021-07-04 at 10 05 53](https://user-images.githubusercontent.com/4476442/124371793-7a0d1f80-dcaf-11eb-9487-13fc445f43c9.png)

This is what i see now.

[2021-07-04 03:06] dedywahyudi commented on #147
@Oanh-and-only-Oanh

[2021-07-04 16:44] Shahinhh opened #148 "short term"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account userd:

[2021-07-05 12:06] LieutenantRoger commented on #145
@Oanh-and-only-Oanh

1. I think this will require a design input.  @Dara K.

2. I added a button like this https://monosnap.com/file/V1D4xuNdrF6CIpf684kRsXUnNMIa2J  based on the design from here, let me know if I shall change the button text:  https://marvelapp.com/prototype/cd37c0d/screen/80658602
(Here's the discussion link in the slack channel about this:  https://topcoder.slack.com/archives/C0

[2021-07-05 12:31] fajarmln commented on #145
Let me know if it needs any design updates @Oanh-and-only-Oanh

[2021-07-06 11:46] SathyaJayabal commented on #143
@LieutenantRoger , points 2 and 3 verified on dev. working as expected.

[2021-07-06 14:50] Oanh-and-only-Oanh commented on #145
Looks fine. Let's proceed.

[2021-07-07 03:11] SathyaJayabal opened #149 "Use the $ and USD for currency similar to the CA gigs listings page"
Use the $ and USD for currency similar to the CA gigs listings page
<img width="1105" alt="Screenshot 2021-07-07 at 8 40 42 AM" src="https://user-images.githubusercontent.com/58783823/124694524-111be680-deff-11eb-87ba-5a8c9418dff0.png">

expected:
<img width="205" alt="Screenshot 2021-07-07 at 8 32 12 AM" src="https://user-images.githubusercontent.com/58783823/124694531-16793100-deff-11eb-8b29-a64

[2021-07-07 03:13] SathyaJayabal commented on #145
verified on dev @LieutenantRoger
<img width="1440" alt="Screenshot 2021-07-07 at 8 43 13 AM" src="https://user-images.githubusercontent.com/58783823/124694704-6eb03300-deff-11eb-9d1a-a76e363778a1.png">

[2021-07-07 03:17] SathyaJayabal commented on #144
@Oanh-and-only-Oanh , I think we should change the text here. It mentions file a github ticket.
<img width="1109" alt="Screenshot 2021-07-07 at 8 46 10 AM" src="https://user-images.githubusercontent.com/58783823/124694954-dd8d8c00-deff-11eb-9060-3b382b30aee9.png">

[2021-07-07 03:22] SathyaJayabal commented on #143
@LieutenantRoger point 1 is tracked on the Comm App repo
https://github.com/topcoder-platform/community-app/issues/5630

[2021-07-07 03:26] SathyaJayabal opened #150 "Zap Updates"
1. Create candidate with `applied` status on Taas when candidate is assigned on RCRM

2. When Candidate status is updated to `Rejected-topcoder rejected` update taas status to `rejected-other`

[2021-07-07 03:29] SathyaJayabal commented on #147
@dedywahyudi , you can use user topacc_three, I willl message you the password.

[2021-07-07 04:01] SathyaJayabal commented on #149
verified on dev
<img width="1105" alt="Screenshot 2021-07-07 at 9 30 45 AM" src="https://user-images.githubusercontent.com/58783823/124698240-0b75cf00-df06-11eb-9fd9-b4843d086304.png">

[2021-07-07 04:43] dedywahyudi commented on #147
@SathyaJayabal Cool, thanks!

[2021-07-07 05:06] sushilshinde commented on #144
@dedywahyudi comment out this part `or file a github ticket at https://discussions.topcoder.com/discussion/8870/new-beta-site-discuss?new=1.` for now as we are going live today. Whenever we have a new text, later we can change it. PR asap.

[2021-07-07 05:14] dedywahyudi commented on #144
@sushilshinde Ok, i'm working on it

[2021-07-07 05:48] dedywahyudi commented on #144
@sushilshinde @LieutenantRoger

Please check the fix on this PR: https://github.com/topcoder-platform/micro-frontends-earn-app/pull/152

[2021-07-07 06:19] SathyaJayabal commented on #144
verified on dev
<img width="1440" alt="Screenshot 2021-07-07 at 11 48 10 AM" src="https://user-images.githubusercontent.com/58783823/124709640-55b47b80-df19-11eb-8b20-dcf7e16f7f4c.png">
<img width="1440" alt="Screenshot 2021-07-07 at 11 48 13 AM" src="https://user-images.githubusercontent.com/58783823/124709655-5baa5c80-df19-11eb-9685-9e3d5ccdb681.png">

[2021-07-07 06:20] dedywahyudi commented on #147
@Oanh-and-only-Oanh @SathyaJayabal

- When user click the title just need linking to the Gig page?
- It look we need update the API first, there's no url data on the response

![Screen Shot 2021-07-07 at 13 16 49](https://user-images.githubusercontent.com/4476442/124709483-bcd82d00-df25-11eb-9221-3cf48e0756ec.png)

[2021-07-07 09:38] SathyaJayabal opened #153 "Update profile : URL format to update skills is incorrect"
Update profile : URL format to update skills is incorrect
1. go to my gigs page
https://platform.topcoder.com/earn/my-gigs
2. click on update "update gig work profile"
3. click on  "Update your skills from Topcoder Profile page"

expected url: https://www.topcoder.com/settings/profile#skills

actual url: https://community-app.topcoder.com/settings/profile#skills

[2021-07-07 11:22] SathyaJayabal commented on #149
verified on prod
<img width="1440" alt="Screenshot 2021-07-07 at 4 48 23 PM" src="https://user-images.githubusercontent.com/58783823/124750560-3c282980-df43-11eb-8147-2ae6d7ab3b55.png">

[2021-07-07 11:22] #149 closed

[2021-07-07 11:24] SathyaJayabal commented on #145
verified on prod
<img width="1440" alt="Screenshot 2021-07-07 at 4 53 32 PM" src="https://user-images.githubusercontent.com/58783823/124751119-e607b600-df43-11eb-9598-6236ab2e96e7.png">

[2021-07-07 11:24] #145 closed

[2021-07-07 11:26] SathyaJayabal commented on #144
verified on prod
<img width="1440" alt="Screenshot 2021-07-07 at 4 54 54 PM" src="https://user-images.githubusercontent.com/58783823/124751339-2109e980-df44-11eb-9692-8e1bd4033e32.png">
<img width="1440" alt="Screenshot 2021-07-07 at 4 54 41 PM" src="https://user-images.githubusercontent.com/58783823/124751380-3121c900-df44-11eb-8156-3d6e4152c079.png">

[2021-07-07 11:26] #144 closed

[2021-07-07 11:30] SathyaJayabal commented on #143
verified on prod

https://user-images.githubusercontent.com/58783823/124751770-a5f50300-df44-11eb-8f8c-70a0c1aec437.mov

[2021-07-07 11:30] #143 closed

[2021-07-07 14:52] Oanh-and-only-Oanh commented on #144
looks fine. thanks all.

[2021-07-08 16:48] Abhi8909 opened #156 "My gigs page not working"
### Expected behavior
https://platform.topcoder.com/earn/my-gigs - The page should show my gigs' information.

### Actual behavior
But the page is not showing anything in XHR I show the status API is failing.

### Steps to reproduce the problem
Just login to topcoder and click on this link https://platform.topcoder.com/earn/my-gigs

### Screenshot/screencast
<img width="1440" alt="Screenshot 2021-

[2021-07-08 16:57] LieutenantRoger commented on #156
Hey @Abhi8909  Thanks for reporting,

it seems working on my side, can you show the console tab and try to let us know what 13 errors you are having please ?

![image](https://user-images.githubusercontent.com/2875203/124961881-9236c300-e050-11eb-9716-1855412ba096.png)

[2021-07-08 17:04] Oanh-and-only-Oanh commented on #147
yes, when user clicks the title of the job, it should take them to the job description. Can you work with @sushil if API needs updating?

[2021-07-09 02:01] dedywahyudi commented on #147
@sushilshinde @Oanh-and-only-Oanh

Okay, pls let me know if API updated.
I'll fix the frontend accordiingly.

[2021-07-09 18:29] Abhi8909 commented on #156
Hi Topcoder-Platform/Micro-Frontends-Earn-App

I have attached the screenshot of the console. PFA

On Thu, Jul 8, 2021 at 10:27 PM LieutenantRoger ***@***.***>
wrote:

[2021-07-12 16:48] LieutenantRoger commented on #156
@Abhi8909 By console, I mean this tab from your snapshot, as you can see the console tab is reporting 13 errors.: https://monosnap.com/file/8RUOfeR3KPPENnFyyDkGkhXYw5JU9T

2.  BTW, I have installed `Brave browser` and tried the my-gigs app, it works on my side using Brave.  So I suggest to switch your network or switch to chrome browser to try the app, and see if the issue is resolved.

[2021-07-19 05:31] SathyaJayabal commented on #150
This is complete and tested on prod

[2021-07-19 05:31] #150 closed

[2021-07-19 05:32] #148 closed

[2021-07-19 05:32] SathyaJayabal commented on #104
@cagdas001 , it is upcoming feature. It will come under My Work

[2021-07-19 05:32] #104 closed

[2021-07-19 05:41] SathyaJayabal opened #157 "My Gigs 1.5"
- [x] Add the below filters to the My Gigs Listings:

- Open Applications : This bucket will include all applications in the following statuses
Applied, Skills Test, Phone Screen, Screen Pass, Interview Pass, Selected, Offered, Placed (future and ongoing)
- Completed Gigs : This bucket will include all placed jobs that are completed. Define new FE status Completed
- Archived Applications : This bu

[2021-07-19 05:42] SathyaJayabal opened #158 "Add Nav item "Gigs" under Find Work, and link it to https://www.topcoder.com/gigs"
Add Nav item "Gigs" under Find Work, and link it to https://www.topcoder.com/gigs

[2021-07-19 05:43] SathyaJayabal commented on #158
verified on dev

https://user-images.githubusercontent.com/58783823/126108696-21bb59f0-6587-40c3-a0f9-9e6f457d5c51.mov

[2021-07-19 06:01] SathyaJayabal opened #159 "Add support to filter by status for the Get myJobApplications endpoint"
Add support to filter by status for the Get myJobApplications endpoint
API Path: Get /earn-app/api/my-gigs/myJobApplications

The valid values for these params are open_jobs, completed_jobs, archived_jobs

`open_jobs` allow the member’s to search the jobs with below status:
Applied
Skills Test
Phone Screen
Screen Pass
Interview Process
Selected
Offered
Placed

`completed_jobs`
- 1. call job candid

[2021-07-19 11:11] SathyaJayabal commented on #159
@LieutenantRoger Pending items:
1. Add `APPLIED` status jobs to `open_jobs`
2. Remove Completed jobs from `archived_jobs`
3. Remove Completed jobs from `open_jobs`

4. `Withdrew` status jobs, awaiting confirmation regarding implementation.

[2021-07-19 11:58] SathyaJayabal commented on #159
@LieutenantRoger , when the end date of the resource booing is `null`,  we should not consider the placement as completed.

example:
user : `topacc_three`
for this user the api returns 6 completed jobs, one of which is the below job
https://platform.topcoder-dev.com/earn-app/api/my-gigs/myJobApplications?perPage=50&status=completed_jobs

job "Job WP payment-2 [9/6/21]" `89e526d5-296d-45e8-8bed-e89

[2021-07-19 18:21] Oanh-and-only-Oanh commented on #147
@dedywahyudi, which api needs updating here?

[2021-07-20 01:12] dedywahyudi commented on #147
@Oanh-and-only-Oanh @SathyaJayabal

The endpoint should be: https://platform.topcoder-dev.com/earn-app/api/my-gigs/myJobApplications?status=open_jobs&page=2&perPage=10

[2021-07-20 04:05] SathyaJayabal commented on #147
@Oanh-and-only-Oanh , should clicking on the title take the user to the Gigs details page on community app?

[2021-07-20 04:09] Oanh-and-only-Oanh commented on #147
correct, @SathyaJayabal

[2021-07-20 04:17] SathyaJayabal commented on #147
Ok, so the gig detail url will be like
`https://www.topcoder.com/gigs/28596760`
We need the `28596760`, which is the  external id in the job record, to be included in the api response.

cc @LieutenantRoger , need to add jobExternalId field in the response object of https://platform.topcoder-dev.com/earn-app/api/my-gigs/myJobApplications. This will be constructed from `externalId` field in the job

[2021-07-20 05:14] LieutenantRoger commented on #147
Added jobExternalId like this:

[2021-07-20 05:19] SathyaJayabal commented on #157
@LieutenantRoger , pending:
open applications must not have completed jobs
archived applications: withdrew jobs should have withdrew status

[2021-07-20 05:24] SathyaJayabal commented on #147
@LieutenantRoger , looks good. @dedywahyudi, please check and let us know if you are good on the api changes?

[2021-07-20 05:25] dedywahyudi commented on #147
@LieutenantRoger @SathyaJayabal

Great, thanks. I'll let you know once the update ready.

[2021-07-20 06:40] SathyaJayabal commented on #153
verified on dev
<img width="1440" alt="Screenshot 2021-07-20 at 12 09 24 PM" src="https://user-images.githubusercontent.com/58783823/126273652-6af58eec-5740-4971-bfb1-4cdff7ee52e0.png">

[2021-07-20 12:24] LieutenantRoger opened #160 "Zap System Update Requirement : My Gigs 1.5 Auto Withdraw feature"
Requirement:

We are adding two new status in JobCandidate `withdrawn`, `withdrawn-prescreen`, and a jobCandidate might be changed into one of these status based on some business logic check.

Expect:

Update the Zap system, so that once a job candidate is changed into 'withdrawn' or 'withdrawn-prescreen` in taas system, it can sync with RCRM system with the new status there.

The new status on RC

[2021-07-21 05:42] dedywahyudi commented on #147
@Oanh-and-only-Oanh @SathyaJayabal @LieutenantRoger

PR for this ready: https://github.com/topcoder-platform/micro-frontends-earn-app/pull/161

Link added to the detail, screenshot attached:
![Screen Shot 2021-07-21 at 12 40 07](https://user-images.githubusercontent.com/4476442/126436956-bd008686-42c8-48ec-b2e6-2e9e8980dd55.png)

[2021-07-23 04:25] SathyaJayabal commented on #157
@LieutenantRoger , verified cases where there are no gigs to display
<img width="1440" alt="Screenshot 2021-07-23 at 9 52 25 AM" src="https://user-images.githubusercontent.com/58783823/126737151-c839223c-b1a0-4182-a601-6b3fb072e44a.png">
<img width="1440" alt="Screenshot 2021-07-23 at 9 52 32 AM" src="https://user-images.githubusercontent.com/58783823/126737160-f2c816cb-2bd7-4d5b-a919-03ed96115a7e

[2021-07-23 06:16] LieutenantRoger commented on #147
OK, thanks @dedywahyudi

let me merge it firstly and deploy to dev environment so @SathyaJayabal  could take a look.

[2021-07-23 06:59] SathyaJayabal commented on #147
verified on dev, title linking to comm app job details page for all buckets
<img width="1440" alt="Screenshot 2021-07-23 at 12 28 56 PM" src="https://user-images.githubusercontent.com/58783823/126747535-02882b28-0c0b-4cfa-a57b-b531a9435708.png">

[2021-07-23 09:10] SathyaJayabal opened #163 "My Gigs filter not updated when accessing the page again"
1. Go to https://platform.topcoder-dev.com/earn/my-gigs
2. Click on Completed, Archived or Active gigs
3. Click on Find Work > Challenges in the nav.
4. Click on My Work > My gigs in the nav.
Expected: The selected filter must be the default (Open Applications)
Actual: Selected filter is the filter last used even though gigs list displays Open applications

https://user-images.githubusercontent.co

[2021-07-23 12:15] SathyaJayabal commented on #160
verified on dev

[2021-07-23 12:19] SathyaJayabal commented on #159
verified on dev
<img width="1440" alt="Screenshot 2021-07-23 at 5 48 18 PM" src="https://user-images.githubusercontent.com/58783823/126780605-81429713-d958-4f0f-ae6f-4a3200c5b398.png">
<img width="1440" alt="Screenshot 2021-07-23 at 5 48 25 PM" src="https://user-images.githubusercontent.com/58783823/126780625-bf3c3a2c-a36a-4760-98a0-9abc000e98bc.png">
<img width="1440" alt="Screenshot 2021-07-23 a

[2021-07-26 03:36] SathyaJayabal commented on #163
verified on dev

https://user-images.githubusercontent.com/58783823/126929699-fb7e77bc-a502-428d-83be-3a31950d175c.mov

[2021-07-26 07:38] SathyaJayabal commented on #159
verified on prod
<img width="1440" alt="Screenshot 2021-07-26 at 1 04 46 PM" src="https://user-images.githubusercontent.com/58783823/126950682-de3adfcf-e33c-4086-a481-ce7e111ae1a9.png">
<img width="1440" alt="Screenshot 2021-07-26 at 1 05 06 PM" src="https://user-images.githubusercontent.com/58783823/126950749-61e322d2-4352-4ede-8371-c8016090feac.png">
<img width="1440" alt="Screenshot 2021-07-26

[2021-07-26 07:42] SathyaJayabal commented on #147
verified on prod
<img width="1440" alt="Screenshot 2021-07-26 at 1 11 27 PM" src="https://user-images.githubusercontent.com/58783823/126951580-838be7c0-2b3f-4e11-af88-f5a77ef339ab.png">

[2021-07-26 07:44] #147 closed

[2021-07-26 07:44] SathyaJayabal commented on #158
verified on prod

https://user-images.githubusercontent.com/58783823/126951259-1b18aad1-d423-428f-85c5-67e557b7f1f6.mov

[2021-07-26 07:44] #158 closed

[2021-07-26 07:44] #159 closed

[2021-07-26 07:46] SathyaJayabal commented on #153
verified on prod
<img width="1440" alt="Screenshot 2021-07-26 at 1 14 52 PM" src="https://user-images.githubusercontent.com/58783823/126952022-2116ac17-38d3-4c28-a9ae-8f29fe9883a6.png">

[2021-07-26 07:46] #153 closed

[2021-07-26 07:51] SathyaJayabal commented on #163
verified on prod

https://user-images.githubusercontent.com/58783823/126952406-8983f34d-7e36-4c48-9c16-ac3a28f006ef.mov

[2021-07-26 07:51] #163 closed

[2021-07-26 11:47] SathyaJayabal commented on #160
verified on prod

[2021-07-26 11:47] #160 closed

[2021-07-30 04:05] SathyaJayabal opened #166 "Updates to Completed job card and withdrawn job card"
Updates to Completed job card  based on the following design
https://marvelapp.com/prototype/157fa1ie/screen/81171928
Updates to Withdrawn job card  based on the following design
https://marvelapp.com/prototype/157fa1ie/screen/80979861

[2021-07-30 04:09] SathyaJayabal opened #167 "Display loading UI when there is a delay in loading the jobs"
Display loading UI when there is a delay in loading the jobs

[2021-07-30 04:10] SathyaJayabal opened #168 "Load the gigs form cache when the user navigates between different buckets"
Load the gigs form cache when the user navigates between different buckets

When the user selects the various buckets like, Active, Open, Completed or Archived jobs, the jobs must be loaded from cache. Only reload the jobs when th page is refreshed.

[2021-07-30 04:11] SathyaJayabal commented on #166
Please update remarks for completed gigs to
`Congrats on completing the gig!`
And Archived gigs to
`You withdrew your application for this gig or you have been placed in another gig.`

[2021-07-30 04:15] SathyaJayabal commented on #166
Please add tooltip for total earnings
`Amount may not reflect any pending payments.`

[2021-07-30 04:17] SathyaJayabal opened #169 "Data Migration: Withdraw applications of candidates who are currently placed in jobs with > 20 hours"
Data Migration: Withdraw applications of candidates who are currently placed in jobs with > 20 hours

[2021-07-30 12:14] praveeno commented on #42
Hello @luizrrodrigues  @SathyaJayabal , any update on this, I didn't recieve payment for this ticket

[2021-08-02 04:25] SathyaJayabal opened #170 "Minor UI Updates to job cards"
1. Make the `CHECK EMAIL and STAND BY` into a label instead of a button so when the user hover it, it doesn’t have a cursor.

2.  Make the whole job Card clickable( area above SHOW MORE button), and remove the link on the job Title, so when the user clicks the whole job Card, it will redirect the user to the gig detail page.

3. Add the red dot for ‘Open Applications’ to indicate a member's curren

[2021-08-02 04:34] SathyaJayabal commented on #168
verified on dev

https://user-images.githubusercontent.com/58783823/127804635-dbdb6a52-cac5-4ff4-ae3b-6306e0f65dad.mov

[2021-08-02 04:35] SathyaJayabal commented on #166
verified on dev
<img width="1440" alt="Screenshot 2021-08-02 at 10 04 52 AM" src="https://user-images.githubusercontent.com/58783823/127804814-80c0c2f9-b0e1-4f5e-b729-41e4c22cd732.png">
<img width="1440" alt="Screenshot 2021-08-02 at 10 05 11 AM" src="https://user-images.githubusercontent.com/58783823/127804824-a963fd7c-016b-41d5-aa25-2fe9658782ad.png">

[2021-08-02 05:16] SathyaJayabal commented on #156
@Abhi8909 , do you still face the problem?

[2021-08-02 05:42] Abhi8909 commented on #156
No, it is working fine now.

On Mon, Aug 2, 2021 at 10:46 AM SathyaJayabal ***@***.***>
wrote:

[2021-08-02 05:46] LieutenantRoger commented on #157
@SathyaJayabal  The height of the four buckets have been aligned with `Open Application` bucket when showing empty information.

[2021-08-02 05:57] SathyaJayabal commented on #156
Thanks @Abhi8909

[2021-08-02 05:57] #156 closed

[2021-08-02 06:10] SathyaJayabal commented on #157
Verified on Dev
<img width="1440" alt="Screenshot 2021-08-02 at 11 28 02 AM" src="https://user-images.githubusercontent.com/58783823/127811174-67da7b3a-c2a3-495d-9aa0-11d24047a889.png">
<img width="1440" alt="Screenshot 2021-08-02 at 11 28 05 AM" src="https://user-images.githubusercontent.com/58783823/127811186-d6d0dc5f-8aef-433a-aa1a-5481aef736a6.png">
<img width="1440" alt="Screenshot 2021-08-02

[2021-08-10 12:48] SathyaJayabal commented on #170
verified on prod
<img width="1440" alt="Screenshot 2021-08-10 at 6 16 10 PM" src="https://user-images.githubusercontent.com/58783823/128869182-0e065f19-8254-43a3-bd8d-bef8681e82fb.png">

[2021-08-10 12:48] #170 closed

[2021-08-10 12:49] SathyaJayabal commented on #168
verified on prod

https://user-images.githubusercontent.com/58783823/128869477-bad7d41a-a6e7-473d-bc7a-4affced7f129.mov

[2021-08-10 12:49] #168 closed

[2021-08-10 12:51] SathyaJayabal commented on #167
verified on prod

https://user-images.githubusercontent.com/58783823/128869826-4b187883-620b-424a-805c-c3d8efab4f66.mov

[2021-08-10 12:51] #167 closed

[2021-08-10 12:52] SathyaJayabal commented on #166
verified on prod
<img width="1440" alt="Screenshot 2021-08-10 at 6 22 18 PM" src="https://user-images.githubusercontent.com/58783823/128870064-bdb928ae-4342-49cf-9739-0749d48eac40.png">
<img width="1440" alt="Screenshot 2021-08-10 at 6 22 25 PM" src="https://user-images.githubusercontent.com/58783823/128870084-ca2a210c-d765-485e-9072-4b25d0dbd3e6.png">

[2021-08-10 12:52] #166 closed

[2021-08-10 12:53] #169 closed

[2021-08-10 12:57] SathyaJayabal commented on #157
verified on prod.

https://user-images.githubusercontent.com/58783823/128870647-ba326384-0d51-4529-9953-e07a0724bb60.mov

[2021-08-10 12:57] #157 closed

[2021-08-16 11:53] LieutenantRoger opened #175 "Update the Earn-App browser title"
Update the browser's title into `Listings-EARN-Topcoder`, so when member opens up Earn App, the browser title should become `Listings-EARN-Topcoder`

[2021-08-17 03:05] SathyaJayabal commented on #175
verified
<img width="1440" alt="Screenshot 2021-08-17 at 8 35 14 AM" src="https://user-images.githubusercontent.com/58783823/129657427-4b26c1f5-eb12-494f-b2f6-24f15653b70a.png">

[2021-08-17 05:09] SathyaJayabal commented on #175
verified on prod
<img width="1440" alt="Screenshot 2021-08-17 at 10 36 55 AM" src="https://user-images.githubusercontent.com/58783823/129666942-e76b7ce8-f273-492d-9ed1-8cfc29241933.png">

[2021-08-17 05:09] #175 closed

[2021-08-17 16:12] luizrrodrigues commented on #42
@praveeno Fix looks good. Thanks

[2021-08-17 16:23] luizrrodrigues commented on #42
Challenge https://www.topcoder.com/challenges/03a86202-812b-48da-a6ad-b35a5310010a praveeno.pro has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-08-17 16:23] luizrrodrigues commented on #42
praveeno.pro has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-08-17 16:23] luizrrodrigues commented on #42
Challenge https://www.topcoder.com/challenges/03a86202-812b-48da-a6ad-b35a5310010a has been assigned to praveeno.pro.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-08-17 16:25] luizrrodrigues commented on #42
Closing to member get paid.

[2021-08-17 16:25] luizrrodrigues commented on #42
Payment task has been updated: https://www.topcoder.com/challenges/03a86202-812b-48da-a6ad-b35a5310010a
*Payments Complete*
Winner: praveeno.pro
Copilot: luizrrodrigues
Challenge `03a86202-812b-48da-a6ad-b35a5310010a` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-08-25 16:46] lakshmiathreya commented on #42
@SathyaJayabal pls clarify current status of this and update labels pls ...

[2021-09-08 03:40] SathyaJayabal opened #179 "Earn App Restructure"
https://www.topcoder.com/challenges/d8baa61a-4f17-4cb8-bb93-5159c16dd116

[2021-09-08 08:53] sandhiyakavi commented on #179
Verified in Dev Env. All the Earns app functionality are working fine.

[2021-09-09 02:56] Oanh-and-only-Oanh commented on #42
can we get this one tested soon @luizrrodrigues?

[2021-09-09 03:46] luizrrodrigues commented on #42
@Oanh-and-only-Oanh Yep, I'll deploy shortly.

[2021-09-09 14:44] drasticdpk opened #180 "Update Task Listings on EARN"
**Problem Statement:**  As the number of tasks increases and number of challenges decline, Tasks should be more prominent on the Work Listings page. Highlighting Tasks will increase visibility to this type of work.

**Requirement:**
-launch unassigned task via Work Manager
-Unassigned task should show up on challenge listings under “Open for registration” challenges
-Any authenticated user can pic

[2021-09-09 15:35] drasticdpk commented on #180
**Verification**
Used Acc
Manager : jcori
Member :
mailmemakar402/P@ssw0rd
tester1234/appirio123

https://user-images.githubusercontent.com/25297859/132714658-075f4168-33c2-43ab-a360-ab6e48de099e.mp4

![image](https://user-images.githubusercontent.com/25297859/132716614-13f5250a-b75b-45d4-9634-58274c93df00.png)

[2021-09-10 08:27] drasticdpk commented on #180
Forums is not access for Task.
![image](https://user-images.githubusercontent.com/25297859/132725804-65f4ac47-f3c6-4f12-88d3-fef3784c0919.png)

[2021-09-13 15:15] SathyaJayabal commented on #179
verified on prod
<img width="1440" alt="Screenshot 2021-09-13 at 8 41 23 PM" src="https://user-images.githubusercontent.com/58783823/133110338-ee373f63-06e9-4b2d-a5c1-9c0874fa5adb.png">
<img width="1440" alt="Screenshot 2021-09-13 at 8 41 04 PM" src="https://user-images.githubusercontent.com/58783823/133110373-f5ac1bd7-6465-4ae3-9ef2-e5db28242eb2.png">

[2021-09-13 15:15] #179 closed

[2021-09-27 08:07] sandhiyakavi opened #187 "Earn app page not loading and displaying a blank page"
Description:

Earn app page is not loading when accessed through URL (https://platform.topcoder-dev.com/earn) or from the top nav bar.

![image](https://user-images.githubusercontent.com/55895538/134869039-a98abc12-8b0c-42b2-88dc-06b0db22ce39.png)

[2021-10-11 08:50] SathyaJayabal opened #191 "Gigs Listings"
Gigs Listings on earn app

[2021-10-11 09:36] SathyaJayabal commented on #191
verified on prod
<img width="1440" alt="Screenshot 2021-10-11 at 3 04 30 PM" src="https://user-images.githubusercontent.com/58783823/136768148-21940e23-5ded-4808-b097-be27dd8d98c8.png">

[2021-10-11 09:36] #191 closed

[2021-10-11 17:19] SathyaJayabal opened #196 "Disable Gigs listings on gigs app and point to community app gigs"
Disable Gigs listings on gigs app and point to community app gigs

[2021-10-11 17:26] SathyaJayabal commented on #196
verified on dev

https://user-images.githubusercontent.com/58783823/136830683-c38e6f1f-1d15-4c8a-b232-64dbbb0851c7.mp4

[2021-10-12 04:19] SathyaJayabal commented on #187
verified on dev

https://user-images.githubusercontent.com/58783823/136890679-d59e367a-ec00-466c-8147-0fbc07bfd89a.mp4

https://user-images.githubusercontent.com/58783823/136890716-838ce505-dab7-41d2-adb1-9326ec48f253.mp4

[2021-10-12 05:23] SathyaJayabal commented on #187
verified on prod

https://user-images.githubusercontent.com/58783823/136896344-ca7b1c56-e93f-42f4-afc6-fab250f38752.mp4

[2021-10-14 09:36] praveeno opened #198 "https://platform.topcoder.com/earn/my-gigs throwing multiple console error"
### Actual behavior
https://platform.topcoder.com/earn/my-gigs is not showing anything in browser and there are errors in console

### Steps to reproduce the problem
- open https://platform.topcoder.com/earn/my-gigs
- verify nothing is visible

### Screenshot/screencast
![image](https://user-images.githubusercontent.com/19618730/137291584-f3c41722-eeea-4543-85f4-43a09958d3f4.png)

--

#### Environ

[2022-04-20 03:15] #198 closed

[2022-05-08 10:38] sandipanghos commented on #180
@drasticdpk will i be paid for the contribution in this issue ? Can you tell me if there is any issue for which you paying topcoder community members or external contributor ?

[2022-06-02 02:03] sandhiyakavi opened #232 "Clear Filter not clearing the skill entered in the Skills/Technology textbox."
Description:
Clear Filter not clearing the skill entered in the Skills/Technology textbox but the challenges displayed are reset to display all irrespective of the Skill.

Similar issue happens in Prod Env as well.

https://user-images.githubusercontent.com/55895538/171531660-fc4ac63a-e00a-4559-b9ff-689634eaa78b.mp4